<?php
/**
 * Magecomp Ajaxlogin - Registration popup
 * Overridden to initialize JS Breeze theme way, add escapes
 */

/** @var \Magecomp\Ajaxlogin\Block\Newregister $block */
/** @var \Magento\Framework\Escaper $escaper */
?>

<?php
if ($block->isEnable()) {
    $url = $block->getBaseUrl().'ajaxlogin/account/createpostnew/';
    $formData = $block->getFormData();
?>
    <div class="create-an-accountnew" style="display:none;"
         data-mage-init='{
             "Magento_Ui/js/modal/modal": {
                 "trigger": ".register-sigininpopup",
                 "type": "popup",
                 "title": "<?= $escaper->escapeHtml(__('Create New Account')) ?>",
                 "responsive": true,
                 "innerScroll": true,
                 "buttons": []
             }
         }'>
        <form class="form create account form-create-account"
              action=""
              method="post"
              id="register-form-validate"
              enctype="multipart/form-data"
              data-mage-init='{"validation":{}}'
              autocomplete="off">

            <?= /* @noEscape */ $block->getBlockHtml('formkey') ?>

            <fieldset class="fieldset create info">
                <input type="hidden" name="success_url" value="<?= $escaper->escapeUrl($block->getSuccessUrl()) ?>">
                <input type="hidden" name="error_url" value="<?= $escaper->escapeUrl($block->getErrorUrl()) ?>">
                <div class="popup-errors"></div>
                <?= $block->getLayout()
                        ->createBlock(\Magento\Customer\Block\Widget\Name::class)
                        ->setObject($formData)
                        ->setForceUseCustomerAttributes(true)
                        ->toHtml() ?>
            </fieldset>
            <fieldset class="fieldset create account"
                      data-hasrequired="<?= $escaper->escapeHtmlAttr(__('* Required Fields')) ?>">
                <div class="field required">
                    <label for="email_address" class="label"><span><?= $escaper->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input type="email"
                               name="email"
                               autocomplete="email"
                               id="email_address"
                               value="<?= $escaper->escapeHtmlAttr($formData->getEmail()) ?>"
                               title="<?= $escaper->escapeHtmlAttr(__('Email')) ?>"
                               class="input-text"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="password" class="label"><span><?= $escaper->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input type="password" name="password" id="password"
                           title="<?= $escaper->escapeHtmlAttr(__('Password')) ?>"
                           class="input-text"
                           data-password-min-length="<?=
                            $escaper->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                           data-password-min-character-sets="<?=
                            $escaper->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                           data-validate="{required:true, 'validate-customer-password':true}"
                           autocomplete="off">
                    </div>
                </div>
                <div class="field confirmation required">
                    <label for="password-confirmation" class="label">
                        <span><?= $escaper->escapeHtml(__('Confirm Password')) ?></span>
                    </label>
                    <div class="control">
                        <input type="password"
                               name="password_confirmation"
                               title="<?= $escaper->escapeHtmlAttr(__('Confirm Password')) ?>"
                               id="password-confirmation"
                               class="input-text"
                               data-validate="{required:true, equalTo:'#password'}"
                               autocomplete="off">
                    </div>
                </div>
            </fieldset>

            <fieldset class="fieldset additional_info">
                <?= $block->getChildHtml('form_additional_info') ?>
            </fieldset>

            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit"
                            class="action submit primary popupaction"
                            title="<?= $escaper->escapeHtmlAttr(__('Sign Up')) ?>">
                        <span><?= $escaper->escapeHtml(__('Sign Up')) ?></span>
                    </button>
                </div>
            </div>
            <div class="account-alreadythere">
                <span><?= $escaper->escapeHtml(__('Already have an Account?')) ?></span>&nbsp;
                <a class="signup" data-role="closeBtn"><?= $escaper->escapeHtml(__('Login')) ?></a>
            </div>
        </form>
    </div>

    <script data-breeze>
        require([
            'jquery'
        ], function($) {
            var $form = $('.form-create-account'),
                $button = $('.popupaction'),
                $errors = $('.popup-errors');

            $button.on('click', function (e) {
                e.preventDefault();

                var formData = $form.serialize(),
                    url = '<?= $url ?>';

                if ($form.valid()) {
                    $.ajax({
                        url: url,
                        data: formData,
                        type: 'post',
                        success: function (data) {
                            if (data.errors) {
                                $errors.empty().append('<div class="message message-error error">' + data.message + '</div>');
                            } else {
                                window.location.href = '/customer/account';
                            }
                        }
                    });
                }
            });
        });
    </script>
<?php } ?>
