<?php
/**
 * Magecomp Ajaxlogin - Sign In popup
 * Overridden to initialize JS Breeze theme way, add escapes
 */

/** @var \Magecomp\Ajaxlogin\Block\Signin $block */
/** @var \Magento\Framework\Escaper $escaper */
?>

<?php if ($block->isEnable()) : ?>
    <?php if (!$block->isLoggedIn()) : ?>
        <div class="account-dropdown">
            <span class="action signup"></span>
            <span class="abs-visually-hidden"><?= $escaper->escapeHtml(__('My Account')) ?></span>
        </div>

        <div id="signin-popup" style="display: none;"
             data-mage-init='{
                 "Magento_Ui/js/modal/modal": {
                     "trigger": ".login-button",
                     "type": "popup",
                     "title": "<?= $escaper->escapeHtml(__('Sign In')) ?>",
                     "responsive": true,
                     "innerScroll": true,
                     "buttons": []
                 }
            }'>
            <div id="popup-modal" >
                <form class="form form-login popup-signin"
                      method="post"
                      id="login-form"
                      data-mage-init='{"validation":{}}'>

                    <?= $block->getBlockHtml('formkey') ?>

                    <fieldset class="fieldset login" data-hasrequired="<?= $escaper->escapeHtmlAttr(__('* Required Fields')) ?>">
                        <div class="error-message-signin"></div>
                        <div class="field email-popup required">
                            <label class="label" for="email"><span><?= $escaper->escapeHtml(__('Email')) ?></span></label>
                            <div class="control">
                                <input name="login[username]"
                                       value="<?= $escaper->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) : ?>
                                       autocomplete="off"<?php endif; ?>
                                       id="email"
                                       type="email"
                                       class="input-text"
                                       title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                                       data-mage-init='{"mage/trim-input":{}}'
                                       data-validate="{'required':true, 'validate-email':true}">
                            </div>
                        </div>
                        <div class="field password-popup required">
                            <label for="pass" class="label"><span><?= $escaper->escapeHtml(__('Password')) ?></span></label>
                            <div class="control field password">
                                <input name="login[password]"
                                       type="password" <?php if ($block->isAutocompleteDisabled()) : ?>
                                       autocomplete="off"<?php endif; ?>
                                       class="input-text"
                                       id="pass"
                                       title="<?= $escaper->escapeHtmlAttr(__('Password')) ?>"
                                       data-validate="{'required':true}">
                            </div>
                        </div>
                        <?= $block->getChildHtml('form_additional_info') ?>
                        <div class="forgotpassword">
                            <div class="secondary">
                                <a class="action remind" href="<?= $escaper->escapeUrl($block->getForgotPasswordUrl()) ?>">
                                    <span><?= $escaper->escapeHtml(__('Forgot Your Password?')) ?></span>
                                </a>
                            </div>
                        </div>
                        <div class="actions-toolbar">
                            <div class="primary">
                                <button type="submit" class="action login primary signinup-btn" name="send" id="send2">
                                    <span><?= $escaper->escapeHtml(__('Log In')) ?></span>
                                </button>
                            </div>
                        </div>
                        <div class="register-linkpopup">
                            <span><?= $escaper->escapeHtml(__('New Here?')) ?></span>&nbsp;
                            <a class="register-sigininpopup" data-role="closeBtn"><?= $escaper->escapeHtml(__('Register')) ?></a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <script>
            require([
                'jquery'
                ], function($) {

                var $button = $('.signinup-btn'),
                    $form = $('.popup-signin'),
                    $error = $('.error-message-signin');

                $button.on('click', function(e) {
                    e.preventDefault();

                    var data = $form.serialize(),
                        url = '<?= $block->getBaseUrl() . "ajaxlogin/account/loginpopup/" ?>';

                    if ($form.valid()) {
                        $.ajax({
                            url: url,
                            data: data,
                            type: 'POST',
                            success: function(data) {
                                if (data.error) {
                                    $error.empty().append('<div class="message message-error error">' + data.message + '</div>');
                                } else{
                                    $error.empty().append('<div class="message-success success message">' + data.message + '</div>');
                                    window.location.href = '/customer/account';
                                }
                            }
                        });
                    }
                });
            });
        </script>
    <?php else : ?>
        <span class="signup">
            <a href="<?= $escaper->escapeUrl($block->getUrl('customer/account/')) ?>">
                <?= $escaper->escapeHtml(__('My Account')) ?>
            </a>
        </span>
    <?php endif; ?>
<?php endif; ?>
