//
//  Layout
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .columns {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-wrap(wrap);

        .column.main {
            .lib-vendor-prefix-order(1);
            &:extend(.abs-add-box-sizing all);
            padding-bottom: @indent__xl;
            width: 100%;
        }

        .sidebar-main {
            .lib-vendor-prefix-order(1);
            &:extend(.abs-add-box-sizing all);
        }

        .sidebar-additional {
            .lib-vendor-prefix-order(2);
            &:extend(.abs-add-box-sizing all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-main,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: @layout__max-width;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: auto;
    }

    .page-main {
        width: 100%;
    }

    .columns {
        .lib-vendor-prefix-display(flex);

        .column.main {
            .lib-vendor-prefix-order(2);
            &:extend(.abs-add-box-sizing-desktop all);
            min-height: 300px;
        }

        .sidebar-main,
        .sidebar-additional {
            .lib-vendor-prefix-order(1);
            &:extend(.abs-add-box-sizing-desktop all);
            width: @layout-column-main__sidebar-width;
            padding-right: @layout-column-main__sidebar-offset;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right {
        .column.main {
            width: calc(~'100% - @{layout-column-main__sidebar-width}   ');
        }
    }

    .page-layout-2columns-right {
        .sidebar-main,
        .sidebar-additional {
            padding-left: @layout-column-main__sidebar-offset;
            padding-right: 0;
        }
    }
}
