//
//  Navigation
//  _____________________________________________

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Navigation sections
    //  _____________________________________________

    .nav-sections {
        .lib-css(background, @navigation__background);
        width: 100%;
        margin-bottom: 0;
    }

    //
    //  Navigation toggle
    //  _____________________________________________

    .nav-toggle {
        cursor: pointer;
        display: block;
        z-index: 14;

        span {
            .lib-visually-hidden();
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                position: relative;
                width: ~'calc(100% - 40px)';
                box-sizing: border-box;

                .ui-menu-icon {
                    display: block;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    left: 100%;
                    top: 0;

                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 42px,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        transition: 0.3s;
                    }
                }
            }

            &.opened {
                .level-top {
                    .ui-menu-icon {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );

                        &:after {
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }

    .nav-sections {
        .lib-css(transition, left .3s, 1);
        -webkit-overflow-scrolling: touch;
        height: 100%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: calc(~'100% - @{active-nav-indent}');
    }

    //
    //  Body Overlay
    //  _____________________________________________

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        padding: @indent__base @layout__width-xs-indent;

        a {
            .lib-font-size(@font-size__m);
            text-decoration: none;
        }

        &.active {
            background: transparent;
            border-bottom: 0;
        }
    }

    .nav-sections-item-content {
        &.active {
            display: block;
        }
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //
    //  Navigation toggle
    //  _____________________________________________

    .nav-toggle {
        display: none;
    }

    //
    //  Navigation sections
    //  _____________________________________________

    .nav-sections {
        &-item-title,
        &-item-content > * {
            display: none;
        }

        &-item-content {
            > .navigation {
                padding: 0 @layout__width-xs-indent;
                display: block;
            }
        }
    }

    .lib-main-navigation-desktop();
}
