//
//  Theme Variables
//  ---------------------------------------------

//
//  Lib Variables
//  Add more to override lib variables
//  _____________________________________________

@import 'variables/_breadcrumbs';
@import 'variables/_buttons';
@import 'variables/_colors.less';
@import 'variables/_dropdowns';
//@import 'variables/_email';
@import 'variables/_forms';
@import 'variables/_layout';
@import 'variables/_messages';
@import 'variables/_navigation';
@import 'variables/_popups';
@import 'variables/_tables';
@import 'variables/_typography';

//
//  Responsive
//  Uncomment to add custom breakpoints
//  _____________________________________________
@import '_responsive'; // to add hidden classes
//@import 'variables/_responsive';
//@import 'lib/_responsive';

//
//  Utilities
//  _____________________________________________
@import '_utilities';


//
//  Loaders
//  ---------------------------------------------

@loader-overlay__background-color: rgba(255, 255, 255, .7);

//
//  Rating
//  ---------------------------------------------

@rating-icon__font-size: 16px;
@rating-icon__letter-spacing: 2px;

//
//  Footer
//  ---------------------------------------------

@copyright__background-color: @color-gray-middle4;
@button__background: @color-gray95;
