<?php
/**
 * Magento Wishlist - Product item Wishlist link
 * Ajax add/remove functionality
 */

/** @var \Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist $block */
/** @var \Elogic\Wishlist\Helper\Helper $helper */
/** @var \Magento\Framework\Escaper $escaper */
?>
<?php if ($block->isWishListAllowed()) : ?>
    <?php $helper = $this->helper('Elogic\Wishlist\Helper\Helper');
    if ($helper && $helper->isAjaxWishlistEnabled()) : ?>
        <div id="wishlist-icon" data-bind="scope: 'wishlistIcon-<?= $block->getProduct()->getId() ?>'">
            <!-- ko ifnot: isInWishlist(currentProductId) -->
            <a class="action towishlist" data-bind="click: ajaxAddToWishlist">
                <span data-bind="i18n: 'add to wishlist'"></span>
            </a>
            <!-- /ko -->

            <!-- ko if: isInWishlist(currentProductId) -->
            <a class="action remove" data-bind="click: ajaxRemoveFromWishlist">
                <span data-bind="i18n: 'remove from wishlist'"></span>
            </a>
            <!-- /ko -->
        </div>

        <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "wishlistIcon-<?php echo $block->getProduct()->getId() ?>": {
                                "component": "Elogic_Wishlist/js/components/ajax-wishlist",
                                "currentProductId": <?= /* @noEscape */ $block->getProduct()->getId() ?>,
                                "wishlistParams": <?= /* @noEscape */json_encode($block->getWishlistParams()) ?>
                            }
                        }
                    }
                }
            }
        </script>
    <?php else: ?>
        <a href="#"
           class="action towishlist"
           data-post='<?= /* @noEscape */ $block->getWishlistParams() ?>'
           data-action="add-to-wishlist"><span><?= $escaper->escapeHtml(__('Add to Wish List')) ?></span>
        </a>
        <script type="text/x-magento-init">
            {
                "body": {
                    "addToWishlist": <?= /* @noEscape */ $block->getWishlistOptionsJson() ?>
                }
            }
        </script>
    <?php endif; ?>
<?php endif; ?>
