//
//  Magento Theme Variables
//  ---------------------------------------------

//
//  Header
//  ---------------------------------------------
@header__background-color: @color-white;
@header__padding: @indent__s;
@header--mobile__padding: 15px;
@header--border: 0;
@header--border-color: 0;

//
//  Header - Icons
//  ---------------------------------------------
@header-icons__color: @primary__color;
@header-icons__hover__color: @primary__color;
@header-icons__focus__color: @header-icons__hover__color;
@header-icons__height: 25px;
@header-icons__width: 28px;
@header-icons-mobile__spacing: @indent__m;
@header-icons-mobile__height: 25px;
@header-icons-mobile__width: 25px;

//
//  Footer
//  ---------------------------------------------

@footer__background-color: @base__color;
@footer__border: 1px solid @color-theme__border-grey;
@footer__padding: 0;
@footer__line-height: 2.5;

//
//  Copyrights
//  ---------------------------------------------
@copyrights__background-color: @base__color;
@copyrights__color: #a0a0a0;
@copyrights__padding: 15px 0;

//
//  Footer Columns
//  ---------------------------------------------
@footer-column-title__font-size: @font-size__xl;
@footer-column-title__font-size-desktop: @font-size__xxl;
@footer-column-title__color: @text__color;

//
//  Footer - Content
//  ---------------------------------------------
@footer-content__text-color: @text__color;
@footer-content__font-weight: @font-weight__regular;
@footer-content__font-size: @font-size__m;

//
//  Footer - Columns
//  ---------------------------------------------
@footer-column__padding: 0 @indent__xl 0 0;

//
//  Footer - Links
//  ---------------------------------------------
@footer-links-color: @text__color;
@footer-links__hover__color: @text__color;
@footer-links__active__color: @text__color;
@footer-links__line-height: 1.7;
@footer-links__text-decoration: none;
@footer-links__font-size: @font-size__base;

//
//  Social Network
//  ---------------------------------------------
@social-network__margin: 0 @indent__s 0 0;

@social-network-icon__width: 32px;
@social-network-icon__height: 32px;

@social-network-icon__color: @footer-links-color;
@social-network-icon__hover__color: @footer-links__hover__color;
@social-network-icon__active__color: @footer-links__hover__color;

//
//  Payment Gateway
//  ---------------------------------------------

@payment-gateway-icon__width: 40px;
@payment-gateway-icon__height: 40px;
@payment-gateway-icon__margin: 0 @indent__xs;

@payment-gateway-icon__mobile__width: 50px;
@payment-gateway-icon__mobile__height: 50px;


