<?php
/**
 * Elogic Theme - footer columns
 * Dynamically adds columns to the footer
 */

/* @var \Elogic\Theme\Block\Html\ThemeConfigs $block */
/* @var \Magento\Framework\Escaper $escaper */
?>

<?php
    $footerColumns = $block->getFooterColumns();
    $socialMedia = $block->getChildHtml('social-media');
?>

<?php if (!empty($footerColumns)) : ?>
    <?php $index = 0 ?>

    <?php foreach ($footerColumns as $column) : $index ++; ?>
        <div class="footer-column footer-column-<?= $index ?>">
            <h2 class="footer-column__title" data-role="trigger">
                <span><?= $escaper->escapeHtml($column['title']); ?></span>
                <svg width="14" height="16" viewBox="0 0 14 16" class="icon icon-arrow icon-arrow--down hidden-desktop hidden-tablet">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </h2>

            <div class="footer-column__content" data-role="content">
                <?php if ($column['content']) : ?>
                    <p><?= $escaper->escapeHtml($column['content']); ?></p>
                <?php endif; ?>

                <?php if ($footerLinks = $block->getFooterLinks($index)) : ?>
                    <ul class="footer-column__links">
                        <?php foreach ($footerLinks as $links) : ?>
                            <li>
                                <a href="<?= $escaper->escapeUrl($links['link']); ?>">
                                    <span><?= $escaper->escapeHtml($links['label']); ?></span>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>

                <?php if ($index === 4) : ?>
                    <?= $socialMedia ?>
                <?php endif; ?>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>
