<?php
/**
 * Elogic Theme - payment methods
 * Adds payment methods icons
 */

/* @var \Elogic\Theme\Block\Html\ThemeConfigs $block */
/* @var \Magento\Framework\Escaper $escaper */
?>

<?php if ($methods = $block->getPaymentMethods()) : ?>
    <div class="payment-methods">
        <span class="payment-methods__title"><?= $block->escapeHtml(__('Safe online shopping with secure payment methods')) ?></span>
        <ul class="payment-methods__list">
            <?php foreach ($methods as $method) : ?>
                <li>
                    <svg viewBox="0 0 47 30" width="47" height="30" class="icon payment-icon <?= $escaper->escapeHtml($method) ?>-icon">
                        <use xlink:href="#icon-<?= $escaper->escapeHtml($method) ?>"></use>
                    </svg>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
