<?php
/**
 * Elogic Theme - SVG Sprite
 * Sprite of the theme icons
 */
?>
<svg style="width:0;height:0;position:absolute" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="icon-account" viewBox="0 0 32 32">
        <title>account</title>
        <path d="m23.7373 16.1812a1 1 0 1 0 -1.4062 1.4218 8.9378 8.9378 0 0 1 2.6689 6.397c0 1.2231-3.5059 3-9 3s-9-1.7778-9-3.002a8.9385 8.9385 0 0 1 2.6348-6.3627 1 1 0 1 0 -1.4141-1.4141 10.9267 10.9267 0 0 0 -3.2207 7.7788c0 3.2476 5.667 5 11 5s11-1.7524 11-5a10.92 10.92 0 0 0 -3.2627-7.8188z"/>
        <path d="m16 17a7 7 0 1 0 -7-7 7.0081 7.0081 0 0 0 7 7zm0-12a5 5 0 1 1 -5 5 5.0059 5.0059 0 0 1 5-5z"/>
    </symbol>
    <symbol id="icon-cart" viewBox="0 0 32 32">
        <title>cart</title>
        <path d="M24,23a3,3,0,1,0,3,3A3.0033,3.0033,0,0,0,24,23Zm0,4a1,1,0,1,1,1-1A1.0013,1.0013,0,0,1,24,27Z"/>
        <path d="M18,23H10a1,1,0,0,1,0-2H26a1,1,0,0,0,.9863-.8354l2-12A1,1,0,0,0,28,7H12a1,1,0,0,0,0,2H26.8193L25.1528,19h-12.46L6.9365,3.6489A1.0005,1.0005,0,0,0,6,3H4A1,1,0,0,0,4,5H5.3071l5.25,14H10a2.99,2.99,0,0,0-.7791,5.8823A3.005,3.005,0,1,0,14.8157,25H18a1,1,0,0,0,0-2Zm-5,3a1,1,0,1,1-1-1A1.0013,1.0013,0,0,1,13,26Z"/>
    </symbol>
    <symbol id="icon-compare" viewBox="0 0 24 24">
        <title>compare</title>
        <path d="m23 22h-18a3 3 0 0 1 -3-3v-18a1 1 0 0 0 -2 0v18a5.006 5.006 0 0 0 5 5h18a1 1 0 0 0 0-2z"/>
        <path d="m6 20a1 1 0 0 0 1-1v-7a1 1 0 0 0 -2 0v7a1 1 0 0 0 1 1z"/>
        <path d="m10 10v9a1 1 0 0 0 2 0v-9a1 1 0 0 0 -2 0z"/>
        <path d="m15 13v6a1 1 0 0 0 2 0v-6a1 1 0 0 0 -2 0z"/>
        <path d="m20 9v10a1 1 0 0 0 2 0v-10a1 1 0 0 0 -2 0z"/>
        <path d="m6 9a1 1 0 0 0 .707-.293l3.586-3.586a1.025 1.025 0 0 1 1.414 0l2.172 2.172a3 3 0 0 0 4.242 0l5.586-5.586a1 1 0 0 0 -1.414-1.414l-5.586 5.585a1 1 0 0 1 -1.414 0l-2.172-2.171a3 3 0 0 0 -4.242 0l-3.586 3.586a1 1 0 0 0 .707 1.707z"/>
    </symbol>
    <symbol id="icon-wishlist" viewBox="0 0 32 32">
        <title>wishlist</title>
        <path d="m27.43 6.41c-3.24-2.74-8.16-2.49-11.43.43-3.27-2.92-8.19-3.17-11.43-.43-1.77 1.5-2.81 3.78-2.85 6.26-.05 2.64 1.03 5.17 2.95 6.91l7.71 7.72c1 1 2.31 1.5 3.62 1.5s2.62-.5 3.62-1.5l7.68-7.69c1.95-1.77 3.03-4.3 2.98-6.94-.04-2.48-1.08-4.76-2.85-6.26zm-1.51 11.76-7.72 7.72c-1.21 1.21-3.19 1.21-4.4 0l-7.75-7.75c-1.52-1.39-2.37-3.37-2.34-5.43.04-1.91.83-3.65 2.16-4.78 1.12-.95 2.55-1.41 4.02-1.41 1.95 0 3.96.82 5.36 2.4.38.42 1.12.42 1.5 0 2.46-2.76 6.76-3.21 9.38-.99 1.33 1.13 2.12 2.87 2.16 4.78.03 2.06-.82 4.04-2.37 5.46z"/>
        <path d="m23.3164 8.0513c-.5234-.1724-1.0835.1074-1.2603.6279-.1772.521.1025 1.0879.6221 1.2676.0952.0327 2.3218.8296 2.3218 3.0532 0 .5522.4478 1 1 1s1-.4478 1-1c0-3.6782-3.5332-4.8984-3.6836-4.9487z"/>
    </symbol>
    <symbol id="icon-search" viewBox="0 0 32 32">
        <title>search</title>
        <path d="m28.104 23.708-4.209-4.209a2.9952 2.9952 0 0 0 -3.4048-.5752l-1.453-1.453a8.9986 8.9986 0 0 0 -4.6993-14.3082 1 1 0 0 0 -.5179 1.9316 7.0013 7.0013 0 1 1 -5.3115.6993 1 1 0 1 0 -1.002-1.731 8.9987 8.9987 0 1 0 9 15.5854 9.0915 9.0915 0 0 0 1.1109-.7684l1.46 1.46a2.995 2.995 0 0 0 .5762 3.4044l4.26 4.2592a2.9786 2.9786 0 0 0 2.0942.8687 2.9416 2.9416 0 0 0 2.0943-.8682l.0019-.001a3.04 3.04 0 0 0 0-4.2946zm-1.4141 2.88-.0019.001a.9935.9935 0 0 1 -1.36 0l-4.26-4.26a1.0009 1.0009 0 0 1 0-1.4141l.019-.02a1 1 0 0 1 1.3936.0176l4.2094 4.209a1.0381 1.0381 0 0 1 0 1.4669z"/>
    </symbol>
    <symbol id="icon-menu" viewBox="0 0 64 64">
        <title>menu</title>
        <path d="m59.5 18.5h-55c-1.1 0-2-.9-2-2s.9-2 2-2h55c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
        <path d="m32.5 34.5h-28c-1.1 0-2-.9-2-2s.9-2 2-2h28c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
        <path d="m59.5 50.5h-55c-1.1 0-2-.9-2-2s.9-2 2-2h55c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 426 426">
        <title>plus</title>
        <path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/>
    </symbol>
    <symbol id="icon-minus" viewBox="0 0 426 60">
        <title>minus</title>
        <path d="m405.332031 43h-384c-11.773437 0-21.332031-9.558594-21.332031-21.332031 0-11.777344 9.558594-21.335938 21.332031-21.335938h384c11.777344 0 21.335938 9.558594 21.335938 21.335938 0 11.773437-9.558594 21.332031-21.335938 21.332031zm0 0"/>
    </symbol>
    <symbol id="icon-eye" viewBox="0 0 20 14">
        <title>eye</title>
        <g fill="#3C3C3C">
            <path d="M10 4.2C8.495 4.2 7.273 5.455 7.273 7S8.495 9.8 10 9.8s2.727-1.255 2.727-2.8S11.505 4.2 10 4.2z"/>
            <path d="M10 0C5.455 0 1.573 2.903 0 7c1.573 4.097 5.455 7 10 7 4.55 0 8.427-2.903 10-7-1.573-4.097-5.45-7-10-7zm0 11.667c-2.51 0-4.545-2.091-4.545-4.667 0-2.576 2.036-4.667 4.545-4.667 2.51 0 4.545 2.091 4.545 4.667 0 2.576-2.036 4.667-4.545 4.667z"/>
        </g>
    </symbol>
    <symbol id="icon-eye-crossed" viewBox="0 0 20 18">
        <title>eye crossed</title>
        <g fill="#3C3C3C">
            <path d="M9.848 5.467 12.71 8.33l.013-.15a2.729 2.729 0 0 0-2.726-2.727l-.15.014z"/>
            <path d="M9.998 3.636a4.546 4.546 0 0 1 4.544 4.544c0 .586-.118 1.145-.322 1.659l2.658 2.658A10.794 10.794 0 0 0 20 8.18c-1.577-3.99-5.453-6.817-10.002-6.817-1.273 0-2.49.228-3.622.637l1.963 1.958a4.567 4.567 0 0 1 1.659-.322zM.909 1.159 2.98 3.23l.414.414A10.765 10.765 0 0 0 0 8.18c1.572 3.99 5.453 6.817 9.998 6.817 1.409 0 2.754-.273 3.985-.768l.386.386 2.65 2.654 1.159-1.155L2.068 0 .908 1.159zM5.935 6.18l1.404 1.405a2.88 2.88 0 0 0-.068.595 2.729 2.729 0 0 0 2.727 2.727c.204 0 .4-.028.59-.069l1.405 1.405a4.47 4.47 0 0 1-1.995.481A4.546 4.546 0 0 1 5.453 8.18c0-.718.182-1.39.482-2z"/>
        </g>
    </symbol>
    <symbol id="icon-jcb" viewBox="0 0 51 32">
        <title>JCB</title>
        <g clip-path="url(#clip0_916_602)">
            <path opacity="0.07" d="M46.6667 0H4C1.73333 0 0 1.73333 0 4V28C0 30.2667 1.86667 32 4 32H46.6667C48.9333 32 50.6667 30.2667 50.6667 28V4C50.6667 1.73333 48.8 0 46.6667 0Z" fill="black"/>
            <path d="M46.6667 1.3335C48.1334 1.3335 49.3334 2.5335 49.3334 4.00016V28.0002C49.3334 29.4668 48.1334 30.6668 46.6667 30.6668H4.00004C2.53337 30.6668 1.33337 29.4668 1.33337 28.0002V4.00016C1.33337 2.5335 2.53337 1.3335 4.00004 1.3335H46.6667Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3333 6.6665H20V21.9998C20 22.8839 19.6488 23.7317 19.0237 24.3569C18.3986 24.982 17.5507 25.3332 16.6667 25.3332H12V9.99984C12 9.11578 12.3512 8.26794 12.9763 7.64281C13.6014 7.01769 14.4493 6.6665 15.3333 6.6665Z" fill="#006EBC"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.6667 6.6665H29.3334V21.9998C29.3334 22.8839 28.9822 23.7317 28.3571 24.3569C27.7319 24.982 26.8841 25.3332 26 25.3332H21.3334V9.99984C21.3334 9.11578 21.6846 8.26794 22.3097 7.64281C22.9348 7.01769 23.7827 6.6665 24.6667 6.6665Z" fill="#F00036"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34 6.6665H38.6666V21.9998C38.6666 22.8839 38.3154 23.7317 37.6903 24.3569C37.0652 24.982 36.2173 25.3332 35.3333 25.3332H30.6666V9.99984C30.6666 9.11578 31.0178 8.26794 31.6429 7.64281C32.2681 7.01769 33.1159 6.6665 34 6.6665Z" fill="#2AB419"/>
            <path d="M14.34 19.3332C12.9267 19.3332 11.5107 18.9279 10.7987 18.0172L11.8387 17.1159C11.9294 18.6265 16.5654 18.7692 16.5654 16.8625V12.6665H18.968V16.8625C18.968 17.8332 18.2027 18.6252 16.8707 19.0385C16.2494 19.2305 15.0507 19.3332 14.34 19.3332ZM25.1614 19.3332C24.2627 19.3332 23.3107 19.1905 22.5414 18.8452C21.2774 18.2785 20.792 17.2372 20.808 15.9132C20.824 14.5612 21.3894 13.5372 22.7654 13.0265C24.524 12.3732 27.2227 12.6785 28 13.3865V14.6825C27.2374 13.9879 25.3894 13.4852 24.108 14.0692C23.4494 14.3705 23.1254 15.2919 23.116 15.9999C23.108 16.7465 23.4427 17.6692 24.108 17.9959C25.3787 18.6185 27.2947 18.0492 28 17.4079V18.7545C27.5227 19.0945 26.3294 19.3332 25.1614 19.3332ZM36.7334 15.8839C37.2267 15.5705 37.5094 15.1279 37.5094 14.5439C37.5094 13.9599 37.3547 13.6279 37.0454 13.2919C36.7707 13.0159 36.272 12.6665 35.3947 12.6665H30.6667V19.3332H35.3947C36.3227 19.3332 36.8574 19.0265 37.148 18.7799C37.5254 18.4465 37.716 18.0732 37.716 17.4999C37.716 16.9252 37.5094 16.2892 36.7334 15.8839ZM34.192 15.5092H32.288V13.5839H34.2814C35.556 13.5839 35.54 15.5092 34.192 15.5092ZM34.576 18.3852H32.288V16.3679H34.576C35.8907 16.3679 36.02 18.3852 34.576 18.3852Z" fill="white"/>
        </g>
        <defs>
            <clipPath id="clip0_916_602">
                <rect width="50.6667" height="32" fill="white"/>
            </clipPath>
        </defs>
    </symbol>
    <symbol id="icon-venmo" viewBox="0 0 51 32">
        <title>Venmo</title>
        <g clip-path="url(#clip0_916_611)">
            <path d="M46.6667 0H4C1.79086 0 0 1.79086 0 4V28C0 30.2091 1.79086 32 4 32H46.6667C48.8758 32 50.6667 30.2091 50.6667 28V4C50.6667 1.79086 48.8758 0 46.6667 0Z" fill="black" fill-opacity="0.07"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M46.6667 1.3335C48.1334 1.3335 49.3334 2.5335 49.3334 4.00016V28.0002C49.3334 29.4668 48.1334 30.6668 46.6667 30.6668H4.00004C2.53337 30.6668 1.33337 29.4668 1.33337 28.0002V4.00016C1.33337 2.5335 2.53337 1.3335 4.00004 1.3335H46.6667Z" fill="#3D95CE"/>
            <path d="M32.9 11.1467C32.9 15.232 29.4907 20.54 26.7227 24.2667H20.4027L17.8667 8.76003L23.4014 8.22403L24.7414 19.2574C25.9947 17.1694 27.54 13.8907 27.54 11.6547C27.54 10.4307 27.3347 9.59737 27.0147 8.9107L32.0547 7.8667C32.6374 8.8507 32.9 9.86537 32.9 11.1467Z" fill="white"/>
        </g>
        <defs>
            <clipPath id="clip0_916_611">
                <rect width="50.6667" height="32" fill="white"/>
            </clipPath>
        </defs>
    </symbol>
    <symbol id="icon-discover" viewBox="0 0 51 32">
        <title>Discover</title>
        <g clip-path="url(#clip0_916_616)">
            <path opacity="0.07" d="M46.6667 0H4C1.73333 0 0 1.73333 0 4V28C0 30.2667 1.86667 32 4 32H46.6667C48.9333 32 50.6667 30.2667 50.6667 28V4C50.6667 1.73333 48.8 0 46.6667 0Z" fill="black"/>
            <path d="M46.6667 1.3335C48.1334 1.3335 49.3334 2.5335 49.3334 4.00016V28.0002C49.3334 29.4668 48.1334 30.6668 46.6667 30.6668H4.00004C2.53337 30.6668 1.33337 29.4668 1.33337 28.0002V4.00016C1.33337 2.5335 2.53337 1.3335 4.00004 1.3335H46.6667Z" fill="white"/>
            <path d="M4.75996 9.54672H2.66663V16.8801H4.75996C5.86663 16.8801 6.66663 16.6134 7.37329 16.0401C8.21329 15.3467 8.70663 14.3067 8.70663 13.2267C8.69329 11.0534 7.07996 9.54672 4.75996 9.54672ZM6.43996 15.0667C5.98663 15.4667 5.41329 15.6534 4.47996 15.6534H4.09329V10.8001H4.47996C5.39996 10.8001 5.95996 10.9601 6.43996 11.3867C6.93329 11.8267 7.22663 12.5067 7.22663 13.2134C7.22663 13.9201 6.93329 14.6267 6.43996 15.0667ZM9.35996 9.54672H10.7866V16.8801H9.35996V9.54672ZM14.28 12.3601C13.4266 12.0401 13.1733 11.8267 13.1733 11.4401C13.1733 10.9734 13.6266 10.6267 14.24 10.6267C14.6666 10.6267 15.0266 10.8001 15.3866 11.2267L16.1333 10.2534C15.52 9.72005 14.7866 9.44005 13.9733 9.44005C12.68 9.44005 11.68 10.3467 11.68 11.5467C11.68 12.5601 12.1466 13.0801 13.48 13.5601C14.04 13.7601 14.32 13.8934 14.4666 13.9734C14.7466 14.1601 14.8933 14.4267 14.8933 14.7334C14.8933 15.3334 14.4266 15.7734 13.7866 15.7734C13.1066 15.7734 12.56 15.4267 12.2266 14.8001L11.3066 15.6934C11.96 16.6667 12.76 17.0934 13.84 17.0934C15.32 17.0934 16.3733 16.1067 16.3733 14.6801C16.4 13.4934 15.9066 12.9601 14.28 12.3601ZM16.84 13.2267C16.84 15.3867 18.5333 17.0534 20.7066 17.0534C21.32 17.0534 21.8533 16.9334 22.4933 16.6267V14.9467C21.92 15.5201 21.4133 15.7467 20.7733 15.7467C19.3333 15.7467 18.3066 14.7067 18.3066 13.2134C18.3066 11.8001 19.36 10.6934 20.7066 10.6934C21.3866 10.6934 21.9066 10.9334 22.4933 11.5201V9.84005C21.8666 9.52005 21.3466 9.38672 20.7333 9.38672C18.5866 9.38672 16.84 11.0934 16.84 13.2267ZM33.8533 14.4801L31.8933 9.54672H30.3333L33.44 17.0667H34.2133L37.3733 9.54672H35.8266L33.8533 14.4801ZM38.0266 16.8801H42.08V15.6401H39.4533V13.6667H41.9866V12.4267H39.4533V10.8001H42.08V9.54672H38.0266V16.8801ZM47.7466 11.7201C47.7466 10.3467 46.8 9.56005 45.1466 9.56005H43.0266V16.8934H44.4533V13.9467H44.64L46.6133 16.8934H48.3733L46.0666 13.8001C47.1466 13.5734 47.7466 12.8401 47.7466 11.7201ZM44.8666 12.9334H44.4533V10.7067H44.8933C45.7866 10.7067 46.2666 11.0801 46.2666 11.8001C46.2666 12.5334 45.7866 12.9334 44.8666 12.9334Z" fill="#231F20"/>
            <path d="M26.88 17.1466C27.9165 17.1466 28.9105 16.7348 29.6434 16.0019C30.3763 15.269 30.788 14.275 30.788 13.2386C30.788 12.2021 30.3763 11.2081 29.6434 10.4752C28.9105 9.7423 27.9165 9.33057 26.88 9.33057C25.8436 9.33057 24.8496 9.7423 24.1167 10.4752C23.3838 11.2081 22.972 12.2021 22.972 13.2386C22.972 14.275 23.3838 15.269 24.1167 16.0019C24.8496 16.7348 25.8436 17.1466 26.88 17.1466Z" fill="url(#paint0_linear_916_616)"/>
            <path opacity="0.65" d="M26.88 17.1466C27.9165 17.1466 28.9105 16.7348 29.6434 16.0019C30.3763 15.269 30.788 14.275 30.788 13.2386C30.788 12.2021 30.3763 11.2081 29.6434 10.4752C28.9105 9.7423 27.9165 9.33057 26.88 9.33057C25.8436 9.33057 24.8496 9.7423 24.1167 10.4752C23.3838 11.2081 22.972 12.2021 22.972 13.2386C22.972 14.275 23.3838 15.269 24.1167 16.0019C24.8496 16.7348 25.8436 17.1466 26.88 17.1466Z" fill="url(#paint1_linear_916_616)"/>
            <path d="M48.76 10.0081C48.76 9.87477 48.6666 9.80811 48.52 9.80811H48.3066V10.4481H48.4666V10.1948L48.6533 10.4481H48.84L48.6266 10.1814C48.7066 10.1681 48.76 10.1014 48.76 10.0081ZM48.4933 10.1014H48.4666V9.92811H48.4933C48.5733 9.92811 48.6133 9.95477 48.6133 10.0081C48.6133 10.0748 48.5733 10.1014 48.4933 10.1014Z" fill="#231F20"/>
            <path d="M48.5467 9.56787C48.24 9.56787 47.9867 9.8212 47.9867 10.1279C47.9867 10.4345 48.24 10.6879 48.5467 10.6879C48.8534 10.6879 49.1067 10.4345 49.1067 10.1279C49.1067 9.8212 48.8534 9.56787 48.5467 9.56787ZM48.5467 10.5945C48.3067 10.5945 48.0934 10.3945 48.0934 10.1279C48.0934 9.87454 48.2934 9.6612 48.5467 9.6612C48.7867 9.6612 48.9867 9.87454 48.9867 10.1279C48.9867 10.3812 48.7867 10.5945 48.5467 10.5945Z" fill="#231F20"/>
            <path d="M49.3334 17.312C49.3334 17.312 36.12 26.4973 11.968 30.6667H46.6654C47.3689 30.6667 48.044 30.3887 48.5435 29.8932C49.043 29.3977 49.3264 28.7249 49.332 28.0213L49.364 23.9947L49.3334 17.3133V17.312Z" fill="#F48120"/>
        </g>
        <defs>
            <linearGradient id="paint0_linear_916_616" x1="28.876" y1="16.3666" x2="26.176" y2="12.1386" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F89F20"/>
                <stop offset="0.25" stop-color="#F79A20"/>
                <stop offset="0.533" stop-color="#F68D20"/>
                <stop offset="0.62" stop-color="#F58720"/>
                <stop offset="0.723" stop-color="#F48120"/>
                <stop offset="1" stop-color="#F37521"/>
            </linearGradient>
            <linearGradient id="paint1_linear_916_616" x1="28.4507" y1="16.3092" x2="24.504" y2="8.59457" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F58720"/>
                <stop offset="0.359" stop-color="#E16F27"/>
                <stop offset="0.703" stop-color="#D4602C"/>
                <stop offset="0.982" stop-color="#D05B2E"/>
            </linearGradient>
            <clipPath id="clip0_916_616">
                <rect width="50.6667" height="32" fill="white"/>
            </clipPath>
        </defs>
    </symbol>
    <symbol id="icon-dinners-club" viewBox="0 0 51 32">
        <title>Dinners Club</title>
        <g clip-path="url(#clip0_916_598)">
            <path opacity="0.07" d="M43.75 0H3.75C1.625 0 0 1.625 0 3.75V26.25C0 28.375 1.75 30 3.75 30H43.75C45.875 30 47.5 28.375 47.5 26.25V3.75C47.5 1.625 45.75 0 43.75 0Z" fill="black"/>
            <path d="M43.75 1.25C45.125 1.25 46.25 2.375 46.25 3.75V26.25C46.25 27.625 45.125 28.75 43.75 28.75H3.75C2.375 28.75 1.25 27.625 1.25 26.25V3.75C1.25 2.375 2.375 1.25 3.75 1.25H43.75Z" fill="white"/>
            <path d="M15 15V19.625C15 20 14.75 20 14.375 19.875C12 18.875 10.625 15.75 11.5 13.125C12 11.75 13 10.625 14.375 10.125C14.875 9.875 15 10 15 10.375V15ZM17.5 15V10.375C17.5 10 17.5 10 17.875 10.125C20.5 11.125 21.875 14.25 20.875 16.875C20.375 18.25 19.375 19.375 18 19.875C17.5 20.125 17.5 20 17.5 19.625V15ZM26.5 6.25H16.25C21 6.25 24.75 10.125 24.75 15C24.75 19.875 21 23.75 16.25 23.75H26.5C31.25 23.75 35 19.875 35 15C35 10.125 31.25 6.25 26.5 6.25Z" fill="#3086C8"/>
        </g>
        <defs>
            <clipPath id="clip0_916_598">
                <rect width="50.6667" height="32" fill="white"/>
            </clipPath>
        </defs>
    </symbol>
    <symbol id="icon-apple-pay" viewBox="0 0 51 32">
        <title>ApplePay</title>
        <g clip-path="url(#clip0_916_587)">
            <path d="M42.8156 0H4.21144C4.05063 0 3.88954 0 3.72901 0.000849337C3.59349 0.00198179 3.45825 0.00339735 3.32273 0.00707781C3.02753 0.015005 2.72978 0.0325579 2.43828 0.0846506C2.14594 0.13456 1.86269 0.227593 1.59786 0.360685C1.06548 0.630514 0.632747 1.06172 0.361963 1.59222C0.228161 1.85622 0.134788 2.13869 0.0849504 2.43024C0.032105 2.72099 0.014774 3.01741 0.00681876 3.31128C0.00335614 3.44621 0.00127252 3.58117 0.00056823 3.71613C0 3.87581 0 4.03605 0 4.19657V25.8031C0 25.9637 0 26.1236 0.00056823 26.2842C0.00142058 26.4189 0.00312527 26.554 0.00681876 26.689C0.014774 26.9823 0.0323891 27.279 0.0849504 27.5695C0.134686 27.861 0.227963 28.1435 0.361679 28.4075C0.496117 28.6712 0.6716 28.912 0.881609 29.1209C1.09126 29.3303 1.33292 29.5052 1.59758 29.639C1.86664 29.7758 2.14223 29.8627 2.43856 29.9156C2.72978 29.9674 3.02753 29.985 3.32273 29.9929C3.45825 29.996 3.59349 29.9977 3.72901 29.9986C3.88954 29.9997 4.05063 29.9997 4.21144 29.9997H42.8156C42.9761 29.9997 43.1372 29.9997 43.2977 29.9986C43.433 29.998 43.5682 29.996 43.7043 29.9929C43.9989 29.985 44.2967 29.9674 44.5887 29.9156C44.8812 29.8657 45.1644 29.7724 45.4292 29.639C45.9613 29.3688 46.3939 28.9377 46.6651 28.4075C46.8023 28.1394 46.8892 27.8648 46.9418 27.5695C46.9946 27.279 47.0117 26.9823 47.0196 26.689C47.0233 26.554 47.0253 26.4189 47.0259 26.2842C47.027 26.1236 47.027 25.9637 47.027 25.8031V4.19686C47.027 4.03633 47.027 3.87609 47.0259 3.71585C47.0253 3.58097 47.0233 3.44611 47.0196 3.31128C47.0117 3.01741 46.9946 2.72099 46.9418 2.43024C46.8923 2.13864 46.799 1.85613 46.6651 1.59222C46.3941 1.06181 45.9615 0.630641 45.4292 0.360685C45.1643 0.22773 44.8811 0.134795 44.5887 0.0849337C44.2967 0.0325579 43.9989 0.0152881 43.7043 0.00736092C43.5688 0.00393166 43.4333 0.0018554 43.2977 0.00113245C43.1372 0 42.9761 0 42.8156 0Z" fill="black"/>
            <path d="M42.8156 1L43.2907 1.00085C43.4191 1.0017 43.5478 1.00311 43.6771 1.00651C43.9024 1.01274 44.1655 1.02491 44.4109 1.0688C44.624 1.10702 44.803 1.16505 44.9746 1.25225C45.318 1.42624 45.597 1.70455 45.7713 2.04695C45.8582 2.21682 45.9162 2.39405 45.9545 2.60836C45.9983 2.85014 46.0105 3.11315 46.0165 3.33879C46.0202 3.46619 46.0219 3.59359 46.0222 3.72382C46.0236 3.88152 46.0236 4.03893 46.0236 4.1969V25.8035C46.0236 25.9614 46.0236 26.1189 46.0224 26.2797C46.0219 26.4071 46.0202 26.5345 46.0168 26.6619C46.0105 26.8872 45.9983 27.1502 45.954 27.3948C45.9217 27.5894 45.86 27.778 45.7707 27.954C45.5961 28.2965 45.3167 28.5748 44.9729 28.7487C44.8025 28.8353 44.624 28.8934 44.4129 28.9313C44.1626 28.9757 43.8882 28.9879 43.6816 28.9936C43.5518 28.9964 43.4225 28.9984 43.2898 28.999C43.1321 29.0001 42.9736 29.0001 42.8156 29.0001H4.20523C4.04897 29.0001 3.89271 29.0001 3.7336 28.999C3.60574 28.9984 3.47788 28.9967 3.35005 28.9939C3.13867 28.9882 2.86421 28.9757 2.61589 28.9316C2.41956 28.899 2.22932 28.8369 2.05164 28.7476C1.88121 28.6613 1.72565 28.5485 1.59081 28.4135C1.45554 28.2789 1.34257 28.1238 1.25612 27.954C1.16683 27.777 1.10495 27.5875 1.07258 27.392C1.02826 27.1477 1.01576 26.8858 1.01007 26.6622C1.00686 26.5343 1.00497 26.4064 1.00439 26.2785L1.00354 25.9028V4.09782L1.00411 3.72269C1.00469 3.59461 1.00659 3.46655 1.00979 3.33851C1.01604 3.11428 1.02826 2.8524 1.07286 2.6061C1.1053 2.41099 1.16718 2.2219 1.2564 2.04525C1.34277 1.87595 1.45528 1.72137 1.59166 1.58576C1.72682 1.45086 1.88255 1.33811 2.05306 1.25169C2.23031 1.16295 2.41995 1.1013 2.61561 1.0688C2.86137 1.02491 3.12474 1.01274 3.35033 1.00651C3.47875 1.00311 3.60746 1.0017 3.73502 1.00085L4.21148 1H42.8156Z" fill="white"/>
            <path d="M12.3612 10.1271C12.7601 9.63028 13.0306 8.96298 12.9593 8.28125C12.3757 8.31013 11.6637 8.66487 11.2512 9.1623C10.881 9.5881 10.5534 10.2831 10.6386 10.9363C11.2938 10.9929 11.9484 10.6101 12.3612 10.1271Z" fill="black"/>
            <path d="M12.9519 11.0639C12.0001 11.0072 11.1915 11.6018 10.7372 11.6018C10.2826 11.6018 9.58685 11.0922 8.83423 11.106C7.85488 11.1202 6.94628 11.6723 6.44908 12.5499C5.42683 14.3052 6.17917 16.9098 7.17357 18.3396C7.65629 19.0473 8.23815 19.8259 9.0047 19.7979C9.72919 19.7696 10.013 19.3307 10.8932 19.3307C11.7731 19.3307 12.0288 19.7979 12.7956 19.7837C13.5906 19.7696 14.0878 19.0759 14.5705 18.3682C15.1245 17.5613 15.351 16.7827 15.3652 16.7403C15.351 16.7261 13.8321 16.1454 13.8179 14.4043C13.8037 12.9463 15.0106 12.2526 15.0674 12.2099C14.3858 11.2054 13.321 11.0922 12.9516 11.0639" fill="black"/>
            <path d="M22.4374 9.09082C24.5052 9.09082 25.9453 10.5112 25.9453 12.579C25.9453 14.6543 24.4756 16.082 22.3857 16.082H20.0963V19.7104H18.4421V9.09082H22.4374ZM20.0963 14.6984H21.9941C23.4346 14.6984 24.254 13.9258 24.254 12.5864C24.254 11.2473 23.4343 10.4818 22.0015 10.4818H20.0963V14.6984Z" fill="black"/>
            <path d="M26.3556 17.5099C26.3556 16.1484 27.3969 15.3685 29.3169 15.2507L31.3773 15.1255V14.5367C31.3773 13.676 30.8088 13.2049 29.7971 13.2049C28.9623 13.2049 28.3566 13.6316 28.2316 14.2864H26.7394C26.784 12.9105 28.0836 11.9097 29.8414 11.9097C31.7319 11.9097 32.9652 12.8957 32.9652 14.4265V19.7103H31.4367V18.4371H31.3998C30.9639 19.2686 30.0036 19.7909 28.9623 19.7909C27.4264 19.7909 26.3556 18.8788 26.3556 17.5099ZM31.3773 16.8256V16.2294L29.5385 16.3472C28.5044 16.4134 27.9657 16.7959 27.9657 17.4655C27.9657 18.1132 28.5268 18.5328 29.4056 18.5328C30.5278 18.5328 31.3773 17.8188 31.3773 16.8256Z" fill="black"/>
            <path d="M34.3708 22.5507V21.2779C34.4742 21.2923 34.7251 21.307 34.858 21.307C35.5891 21.307 36.0027 20.9984 36.2539 20.2032L36.4016 19.7324L33.6025 12.0054H35.3305L37.2804 18.2752H37.3173L39.2669 12.0054H40.9509L38.0484 20.1222C37.3835 21.9842 36.623 22.5952 35.0132 22.5952C34.8876 22.5952 34.4813 22.5805 34.3708 22.5507Z" fill="black"/>
        </g>
        <defs>
            <clipPath id="clip0_916_587">
                <rect width="47.027" height="30" fill="white"/>
            </clipPath>
        </defs>
    </symbol>
    <symbol id="icon-amex" viewBox="0 0 47 30">
        <title>Amex</title>
        <g clip-path="url(#clip0_892_582)">
            <path opacity="0.07" d="M43.1743 0H3.70066C1.60362 0 0 1.625 0 3.75V26.25C0 28.375 1.72697 30 3.70066 30H43.1743C45.2714 30 46.875 28.375 46.875 26.25V3.75C46.875 1.625 45.148 0 43.1743 0Z" fill="black"/>
            <path d="M43.1743 1.25C44.5312 1.25 45.6414 2.375 45.6414 3.75V26.25C45.6414 27.625 44.5312 28.75 43.1743 28.75H3.70063C2.34372 28.75 1.23352 27.625 1.23352 26.25V3.75C1.23352 2.375 2.34372 1.25 3.70063 1.25H43.1743Z" fill="#006FCF"/>
            <path d="M11.0662 12.835L12.021 15.18H10.1188L11.0662 12.835ZM30.8956 12.9325H27.2233V13.9663H30.8363V15.515H27.2307V16.6675H30.903V17.5912L33.465 14.785L30.903 11.86L30.8956 12.9325ZM13.5481 10.0075H18.4761L19.5703 12.4262L20.5843 10H33.3762L34.706 11.4875L36.0814 10H41.9568L37.6159 14.815L41.9124 19.6H35.9494L34.6196 18.1125L33.2319 19.6H12.3725L11.7632 18.1125H10.3692L9.75863 19.6H4.9342L8.98766 10H13.2187L13.5481 10.0075ZM24.2344 11.355H21.4724L19.6221 15.775L17.6176 11.355H14.8766V17.3675L12.3355 11.355H9.87705L6.93873 18.245H8.8569L9.46628 16.7575H12.6686L13.278 18.245H16.6332V13.3263L18.7932 18.2525H20.2611L22.4075 13.3413V18.2537H24.206L24.2356 11.3538L24.2344 11.355ZM35.7558 14.815L38.8779 11.355H36.6303L34.6554 13.5125L32.7459 11.355H25.4753V18.2525H32.6423L34.6332 16.08L36.5428 18.2525H38.8557L35.757 14.815H35.7558Z" fill="white"/>
        </g>
        <defs>
            <clipPath id="clip0_892_582">
                <rect width="46.875" height="30" fill="white"/>
            </clipPath>
        </defs>
    </symbol>
    <symbol id="icon-visa" viewBox="0 0 45 30">
        <title>VISA</title>
        <path d="M0 3.75C0 1.67893 1.67893 0 3.75 0H41.25C43.3211 0 45 1.67893 45 3.75V26.25C45 28.3211 43.3211 30 41.25 30H3.75C1.67893 30 0 28.3211 0 26.25V3.75Z" fill="#D8E3F3"/>
        <path d="M38.728 9.40771H36.3706C35.6578 9.40771 35.1096 9.62701 34.7806 10.3397L30.285 20.5919H33.4649C33.4649 20.5919 34.0131 19.2213 34.1228 18.8924C34.4517 18.8924 37.5767 18.8924 38.0153 18.8924C38.1249 19.2761 38.3991 20.5371 38.3991 20.5371H41.2499L38.728 9.40771ZM34.9999 16.5897C35.2741 15.9318 36.2061 13.4647 36.2061 13.4647C36.2061 13.5196 36.4802 12.8068 36.5899 12.4231L36.8092 13.4099C36.8092 13.4099 37.4122 16.0963 37.5219 16.6446H34.9999V16.5897Z" fill="#3362AB"/>
        <path d="M30.5043 16.9186C30.5043 19.2212 28.421 20.7563 25.1864 20.7563C23.8157 20.7563 22.5 20.4822 21.7872 20.1533L22.2258 17.6313L22.6096 17.7958C23.5964 18.2344 24.2543 18.3989 25.4605 18.3989C26.3377 18.3989 27.2697 18.0699 27.2697 17.3024C27.2697 16.809 26.8859 16.48 25.6798 15.9318C24.5285 15.3835 22.9934 14.5063 22.9934 12.9164C22.9934 10.7234 25.1315 9.24316 28.1469 9.24316C29.2982 9.24316 30.285 9.46246 30.8881 9.73659L30.4495 12.1489L30.2302 11.9296C29.682 11.7103 28.9692 11.491 27.9276 11.491C26.7763 11.5458 26.228 12.0392 26.228 12.4778C26.228 12.9712 26.8859 13.355 27.9276 13.8484C29.682 14.6708 30.5043 15.6028 30.5043 16.9186Z" fill="#3362AB"/>
        <path d="M3.75 9.51715L3.80482 9.29785H8.51974C9.17763 9.29785 9.67105 9.51715 9.83553 10.2299L10.8772 15.1641C9.83553 12.5325 7.42325 10.3943 3.75 9.51715Z" fill="#F9B50B"/>
        <path d="M17.511 9.40785L12.7413 20.5372H9.50661L6.76538 11.2171C8.73906 12.478 10.3838 14.4517 10.9869 15.8223L11.3158 16.9736L14.2763 9.35303H17.511V9.40785Z" fill="#3362AB"/>
        <path d="M18.7719 9.35303H21.7872L19.8684 20.5372H16.853L18.7719 9.35303Z" fill="#3362AB"/>
    </symbol>
    <symbol id="icon-mastercard" viewBox="0 0 45 30">
        <title>Mastercard</title>
        <path d="M0 3.75C0 1.67893 1.67893 0 3.75 0H41.25C43.3211 0 45 1.67893 45 3.75V26.25C45 28.3211 43.3211 30 41.25 30H3.75C1.67893 30 0 28.3211 0 26.25V3.75Z" fill="#FDEACE"/>
        <path d="M27.1949 6.11953L17.5115 6.15283L17.8049 23.8808L27.4884 23.8475L27.1949 6.11953Z" fill="#FF5F00"/>
        <path d="M18.1488 15.0524C18.0889 11.4467 19.7041 8.24286 22.2341 6.1647C20.3244 4.66616 17.9303 3.76503 15.335 3.77392C9.18669 3.79498 4.29629 8.86003 4.39998 15.0995C4.50367 21.339 9.56184 26.37 15.7102 26.3489C18.3055 26.34 20.6693 25.4226 22.529 23.9111C19.9307 21.8819 18.2087 18.6581 18.1488 15.0524Z" fill="#EB001B"/>
        <path d="M40.5998 14.9007C40.7035 21.1402 35.8131 26.2052 29.6648 26.2263C27.0695 26.2352 24.6754 25.3341 22.7657 23.8355C25.3266 21.7573 26.9109 18.5535 26.851 14.9478C26.7911 11.3421 25.0696 8.14967 22.4708 6.08908C24.3304 4.57762 26.6943 3.6602 29.2896 3.65131C35.438 3.63026 40.4967 8.69259 40.5998 14.9007Z" fill="#F79E1B"/>
    </symbol>
    <symbol id="icon-maestro" viewBox="0 0 45 30">
        <title>Maestro</title>
        <path d="M0 3.75C0 1.67893 1.67893 0 3.75 0H41.25C43.3211 0 45 1.67893 45 3.75V26.25C45 28.3211 43.3211 30 41.25 30H3.75C1.67893 30 0 28.3211 0 26.25V3.75Z" fill="#CCEFFF"/>
        <path d="M27.4209 23.846H17.578V6.15674H27.4209V23.846Z" fill="#6C6BBD"/>
        <path d="M18.2085 15C18.2085 11.4116 19.8885 8.21524 22.5049 6.15535C20.5916 4.64906 18.177 3.75 15.5528 3.75C9.3402 3.75 4.3042 8.78672 4.3042 15C4.3042 21.2133 9.3402 26.25 15.5528 26.25C18.177 26.25 20.5916 25.3509 22.5049 23.8447C19.8885 21.7848 18.2085 18.5884 18.2085 15Z" fill="#EB001B"/>
        <path d="M40.6957 15C40.6957 21.2133 35.6597 26.25 29.4471 26.25C26.8229 26.25 24.4082 25.3509 22.4943 23.8447C25.1113 21.7848 26.7914 18.5884 26.7914 15C26.7914 11.4116 25.1113 8.21524 22.4943 6.15535C24.4082 4.64906 26.8229 3.75 29.4471 3.75C35.6597 3.75 40.6957 8.78672 40.6957 15Z" fill="#0099DF"/>
    </symbol>
    <symbol id="icon-paypal" viewBox="0 0 45 30">
        <title>PayPal</title>
        <path d="M0 3.75C0 1.67893 1.67893 0 3.75 0H41.25C43.3211 0 45 1.67893 45 3.75V26.25C45 28.3211 43.3211 30 41.25 30H3.75C1.67893 30 0 28.3211 0 26.25V3.75Z" fill="#CCDEFF"/>
        <path d="M10.0976 10.7976C9.62762 10.4745 9.01427 10.3125 8.2576 10.3125H5.32818C5.09622 10.3125 4.96807 10.4285 4.94372 10.6603L3.75374 18.1302C3.74137 18.2035 3.75972 18.2706 3.80863 18.3316C3.85727 18.3927 3.91843 18.4231 3.99169 18.4231H5.38314C5.62719 18.4231 5.76133 18.3074 5.78596 18.0753L6.11547 16.0615C6.1275 15.9639 6.17042 15.8845 6.24368 15.8234C6.31687 15.7624 6.40843 15.7225 6.51828 15.7042C6.62814 15.6861 6.73172 15.6769 6.82955 15.6769C6.92709 15.6769 7.04299 15.6832 7.17747 15.6953C7.31161 15.7074 7.39712 15.7134 7.43377 15.7134C8.48341 15.7134 9.30729 15.4177 9.90547 14.8255C10.5034 14.2336 10.8027 13.4129 10.8027 12.3629C10.8027 11.6428 10.5675 11.121 10.0976 10.7974V10.7976ZM8.58727 13.0406C8.52605 13.4678 8.36756 13.7484 8.11126 13.8827C7.85489 14.0172 7.48873 14.0841 7.01277 14.0841L6.40854 14.1024L6.71986 12.1433C6.74415 12.0092 6.82345 11.942 6.95781 11.942H7.30579C7.79378 11.942 8.14797 12.0124 8.36768 12.1525C8.58727 12.293 8.66053 12.589 8.58727 13.0406V13.0406Z" fill="#003087"/>
        <path d="M41.0116 10.3125H39.657C39.5223 10.3125 39.4431 10.3797 39.4189 10.514L38.2288 18.1305L38.2104 18.1671C38.2104 18.2284 38.2349 18.2861 38.2838 18.3411C38.3323 18.3959 38.3937 18.4234 38.4668 18.4234H39.6754C39.9069 18.4234 40.0351 18.3077 40.0599 18.0756L41.2499 10.5873V10.5691C41.2498 10.3981 41.1702 10.3127 41.0116 10.3127V10.3125Z" fill="#009CDE"/>
        <path d="M24.644 13.2607C24.644 13.1998 24.6195 13.1417 24.571 13.0869C24.522 13.032 24.4671 13.0044 24.4062 13.0044H22.9964C22.8619 13.0044 22.752 13.0657 22.6667 13.1874L20.7261 16.0437L19.9205 13.2974C19.8591 13.1023 19.7251 13.0044 19.5177 13.0044H18.1443C18.0832 13.0044 18.0283 13.0319 17.9798 13.0869C17.9308 13.1417 17.9065 13.1999 17.9065 13.2607C17.9065 13.2853 18.0255 13.6452 18.2635 14.3409C18.5014 15.0369 18.7577 15.7876 19.0324 16.5932C19.3071 17.3987 19.4504 17.8261 19.4627 17.8745C18.4617 19.2418 17.9614 19.9741 17.9614 20.0716C17.9614 20.2304 18.0406 20.3097 18.1995 20.3097H19.6092C19.7434 20.3097 19.8532 20.2488 19.9388 20.1267L24.6076 13.3888C24.6319 13.3646 24.644 13.3221 24.644 13.2606V13.2607Z" fill="#003087"/>
        <path d="M37.7715 13.0041H36.38C36.2089 13.0041 36.1056 13.2056 36.0689 13.6085C35.7512 13.1204 35.1718 12.876 34.3294 12.876C33.4506 12.876 32.7029 13.2056 32.0867 13.8647C31.4702 14.5239 31.1621 15.2992 31.1621 16.1901C31.1621 16.9104 31.3726 17.484 31.7936 17.911C32.2148 18.3385 32.7792 18.5519 33.4874 18.5519C33.8413 18.5519 34.2013 18.4785 34.5675 18.3322C34.9337 18.1857 35.2202 17.9905 35.4281 17.7463C35.4281 17.7585 35.4157 17.8133 35.3915 17.9109C35.3669 18.0087 35.3548 18.0822 35.3548 18.1306C35.3548 18.3261 35.434 18.4235 35.5929 18.4235H36.8563C37.0879 18.4235 37.2223 18.3078 37.2588 18.0757L38.0096 13.297C38.0216 13.2237 38.0034 13.1567 37.9546 13.0956C37.9056 13.0347 37.8447 13.0041 37.7715 13.0041V13.0041ZM35.3822 16.6111C35.071 16.9163 34.6956 17.0688 34.2562 17.0688C33.9021 17.0688 33.6155 16.9713 33.3957 16.7759C33.1759 16.581 33.066 16.3125 33.066 15.9703C33.066 15.519 33.2187 15.1373 33.5239 14.826C33.8286 14.5148 34.2074 14.3592 34.659 14.3592C35.0005 14.3592 35.2843 14.4599 35.5103 14.6612C35.7359 14.8626 35.8492 15.1403 35.8492 15.4944C35.8491 15.9338 35.6935 16.3061 35.3822 16.6111Z" fill="#009CDE"/>
        <path d="M16.9726 13.0041H15.5811C15.41 13.0041 15.3065 13.2056 15.2698 13.6085C14.9402 13.1204 14.3604 12.876 13.5304 12.876C12.6516 12.876 11.9039 13.2056 11.2876 13.8647C10.6711 14.5239 10.363 15.2992 10.363 16.1901C10.363 16.9104 10.5736 17.484 10.9947 17.911C11.4159 18.3385 11.9802 18.5519 12.6883 18.5519C13.0299 18.5519 13.384 18.4785 13.7501 18.3322C14.1163 18.1857 14.4093 17.9905 14.629 17.7463C14.58 17.8926 14.5557 18.0208 14.5557 18.1306C14.5557 18.3261 14.635 18.4235 14.7937 18.4235H16.057C16.2888 18.4235 16.4232 18.3078 16.4598 18.0757L17.2105 13.297C17.2225 13.2237 17.2042 13.1567 17.1556 13.0956C17.1067 13.0347 17.0458 13.0041 16.9726 13.0041V13.0041ZM14.5833 16.6202C14.272 16.9196 13.8904 17.0688 13.4391 17.0688C13.0849 17.0688 12.8011 16.9713 12.5876 16.7759C12.3739 16.581 12.2672 16.3125 12.2672 15.9703C12.2672 15.519 12.4197 15.1373 12.725 14.826C13.0299 14.5148 13.4083 14.3592 13.8601 14.3592C14.2017 14.3592 14.4855 14.4599 14.7115 14.6612C14.9372 14.8626 15.0502 15.1403 15.0502 15.4944C15.0501 15.946 14.8946 16.3215 14.5833 16.6202V16.6202Z" fill="#003087"/>
        <path d="M30.8966 10.7976C30.4266 10.4745 29.8134 10.3125 29.0566 10.3125H26.1454C25.9013 10.3125 25.7669 10.4285 25.7427 10.6603L24.5526 18.1302C24.5402 18.2035 24.5586 18.2706 24.6075 18.3316C24.6559 18.3927 24.7173 18.4231 24.7905 18.4231H26.2918C26.4382 18.4231 26.5358 18.3439 26.5848 18.1852L26.9143 16.0615C26.9265 15.9639 26.9692 15.8845 27.0426 15.8234C27.1158 15.7624 27.2072 15.7225 27.3172 15.7042C27.427 15.6861 27.5305 15.6769 27.6284 15.6769C27.726 15.6769 27.8419 15.6832 27.9762 15.6953C28.1104 15.7074 28.1962 15.7134 28.2325 15.7134C29.2824 15.7134 30.1061 15.4177 30.7043 14.8255C31.3024 14.2336 31.6014 13.4129 31.6014 12.3629C31.6015 11.6428 31.3664 11.121 30.8966 10.7974V10.7976ZM29.02 13.8094C28.7514 13.9925 28.3485 14.084 27.8116 14.084L27.2257 14.1023L27.5369 12.1432C27.5611 12.0091 27.6405 11.9418 27.7749 11.9418H28.1043C28.3729 11.9418 28.5864 11.9541 28.7454 11.9784C28.9037 12.003 29.0566 12.0791 29.203 12.2072C29.3496 12.3354 29.4227 12.5217 29.4227 12.7657C29.4227 13.2785 29.2883 13.6262 29.02 13.8094Z" fill="#009CDE"/>
    </symbol>

    <!-- Todo: update icons -->
    <symbol id="icon-phone" viewBox="0 0 32 30">
        <title>phone</title>
        <path d="M22.28 31.318c-1.117-0.163-2.163-0.538-3.174-0.899-1.99-0.713-4.216-1.564-6.19-2.948-2.555-1.789-4.895-3.949-7.155-6.605-1.873-2.202-3.183-4.333-4.003-6.515l-0.175-0.466c-0.308-0.819-0.616-1.633-0.904-2.458-0.614-1.751-0.804-3.217-0.602-4.612 0.243-1.652 0.941-3.223 2.135-4.803 0.609-0.804 1.39-1.338 2.323-1.587 0.611-0.16 1.233-0.288 1.855-0.413l1.057-0.013 0.108 0.044c0.58 0.229 0.879 0.695 1.114 1.114 0.333 0.591 0.662 1.184 0.991 1.777 0.419 0.759 0.837 1.516 1.265 2.268 0.16 0.282 0.338 0.55 0.518 0.818 0.128 0.191 0.255 0.381 0.378 0.576 0.64 1.028 0.582 1.751-0.21 2.669-0.513 0.596-1.105 1.069-1.562 1.413-0.483 0.365-0.883 0.704-1.221 1.037-0.531 0.524-0.539 0.568-0.195 1.187 0.609 1.097 1.356 2.381 2.26 3.604 1.708 2.301 3.89 4.178 6.675 5.731 0.145 0.081 0.289 0.166 0.433 0.252 0.276 0.164 0.553 0.33 0.852 0.46 0.215 0.092 0.358 0.095 0.607-0.138 0.407-0.38 0.796-0.813 1.156-1.285 0.433-0.566 0.911-1.16 1.492-1.677 0.844-0.749 1.564-1.025 2.743-0.224 1.027 0.699 2.141 1.313 3.218 1.907 0.397 0.221 0.796 0.442 1.193 0.666l0.422 0.237c0.276 0.154 0.55 0.307 0.822 0.467 0.529 0.31 0.84 0.733 0.922 1.26l-0.041 0.745c-0.184 2.514-1.261 4.207-3.291 5.164-1.553 0.902-3.059 1.339-4.596 1.339-0.403 0-0.81-0.031-1.22-0.090z"></path>
    </symbol>
    <symbol id="icon-store" viewBox="0 0 32 30">
        <title>Store</title>
        <path d="M22.28 31.318c-1.117-0.163-2.163-0.538-3.174-0.899-1.99-0.713-4.216-1.564-6.19-2.948-2.555-1.789-4.895-3.949-7.155-6.605-1.873-2.202-3.183-4.333-4.003-6.515l-0.175-0.466c-0.308-0.819-0.616-1.633-0.904-2.458-0.614-1.751-0.804-3.217-0.602-4.612 0.243-1.652 0.941-3.223 2.135-4.803 0.609-0.804 1.39-1.338 2.323-1.587 0.611-0.16 1.233-0.288 1.855-0.413l1.057-0.013 0.108 0.044c0.58 0.229 0.879 0.695 1.114 1.114 0.333 0.591 0.662 1.184 0.991 1.777 0.419 0.759 0.837 1.516 1.265 2.268 0.16 0.282 0.338 0.55 0.518 0.818 0.128 0.191 0.255 0.381 0.378 0.576 0.64 1.028 0.582 1.751-0.21 2.669-0.513 0.596-1.105 1.069-1.562 1.413-0.483 0.365-0.883 0.704-1.221 1.037-0.531 0.524-0.539 0.568-0.195 1.187 0.609 1.097 1.356 2.381 2.26 3.604 1.708 2.301 3.89 4.178 6.675 5.731 0.145 0.081 0.289 0.166 0.433 0.252 0.276 0.164 0.553 0.33 0.852 0.46 0.215 0.092 0.358 0.095 0.607-0.138 0.407-0.38 0.796-0.813 1.156-1.285 0.433-0.566 0.911-1.16 1.492-1.677 0.844-0.749 1.564-1.025 2.743-0.224 1.027 0.699 2.141 1.313 3.218 1.907 0.397 0.221 0.796 0.442 1.193 0.666l0.422 0.237c0.276 0.154 0.55 0.307 0.822 0.467 0.529 0.31 0.84 0.733 0.922 1.26l-0.041 0.745c-0.184 2.514-1.261 4.207-3.291 5.164-1.553 0.902-3.059 1.339-4.596 1.339-0.403 0-0.81-0.031-1.22-0.090z"></path>
    </symbol>



    <symbol id="icon-close" viewBox="0 0 20 20">
        <title>close</title>
        <path d="M10 8.334l-8.334-8.334-1.666 1.666 8.334 8.334-8.334 8.334 1.666 1.666 8.334-8.334 8.334 8.334 1.666-1.666-8.334-8.334 8.334-8.334-1.666-1.666-8.334 8.334z"></path>
    </symbol>
    <symbol id="icon-video" viewBox="0 0 25 32">
        <path d="M0.806 2.203v27.593c0 0 0 0 0 0 0 1.262 1.023 2.286 2.286 2.286 0.505 0 0.972-0.164 1.35-0.441l-0.006 0.004 18.971-13.797c0.574-0.42 0.942-1.092 0.942-1.849s-0.368-1.429-0.936-1.845l-0.006-0.004-18.971-13.797c-0.372-0.273-0.839-0.437-1.344-0.437-1.262 0-2.286 1.023-2.286 2.286 0 0 0 0 0 0v-0z"></path>
    </symbol>
    <symbol id="icon-padlock" viewBox="0 0 14 18">
        <title>padlock</title>
        <path d="M7.188.95a4.18 4.18 0 014.175 3.971l.005.209v2.401a.75.75 0 01-1.493.102l-.007-.102V5.13a2.68 2.68 0 00-5.355-.17l-.005.17v2.401a.75.75 0 01-1.493.102l-.007-.102V5.13A4.18 4.18 0 017.188.95zm1.029 10.354a1.029 1.029 0 10-2.058 0c0 .304.134.574.343.762v.953a.686.686 0 001.372 0v-.953c.209-.188.343-.458.343-.762z"></path>
        <path d="M11.99 6.781H2.386c-.793 0-1.436.643-1.436 1.436v7.546c0 .793.643 1.436 1.436 1.436h9.604c.793 0 1.436-.643 1.436-1.436V8.217c0-.793-.643-1.436-1.436-1.436zm-.065 1.499v7.418H2.449V8.28h9.476z"></path>
    </symbol>

    <symbol id="icon-arrow" viewBox="0 0 31 32">
        <title>icon-arrow</title>
        <path d="M24.348 16l0.033 0.033-14.805 14.824-1.957-1.96 12.881-12.898-12.881-12.898 1.957-1.96 14.805 14.824-0.033 0.033z"></path>
    </symbol>
    <symbol id="icon-share" viewBox="0 0 32 32">
        <title>share</title>
        <path d="M9.856 16.256c0 1.92-1.28 3.328-3.072 3.328s-3.2-1.408-3.2-3.328 1.28-3.2 3.2-3.2c1.664 0 3.072 1.408 3.072 3.2zM26.624 25.728c0 1.92-1.28 3.328-3.2 3.328-0.001 0-0.002 0-0.003 0-1.767 0-3.2-1.433-3.2-3.2 0-0.045 0.001-0.090 0.003-0.134l-0 0.006c0-1.792 1.536-3.2 3.2-3.2 1.792 0 3.2 1.408 3.2 3.2zM20.224 6.912c0-1.92 1.536-3.328 3.2-3.328 1.792 0 3.2 1.408 3.2 3.328 0 1.792-1.28 3.2-3.2 3.2-1.767 0-3.2-1.433-3.2-3.2v0zM23.424 20.224c-1.536 0-3.072 0.64-4.096 1.92l-7.424-4.224c0.147-0.479 0.232-1.030 0.232-1.6s-0.085-1.121-0.242-1.64l0.010 0.040 7.424-4.224c0.994 1.23 2.502 2.010 4.192 2.010 0.8 0 1.559-0.175 2.241-0.488l-0.033 0.014c1.908-0.929 3.2-2.854 3.2-5.080 0-0.014-0-0.028-0-0.042v0.002c0-3.072-2.56-5.632-5.504-5.632-2.985 0.071-5.378 2.507-5.378 5.503 0 0.595 0.094 1.168 0.269 1.704l-0.011-0.039-7.424 4.352c-1.024-1.28-2.56-1.92-4.224-1.92-2.816-0.128-5.376 2.432-5.376 5.376s2.56 5.632 5.504 5.632c1.536 0 3.072-0.768 4.096-1.92l7.424 4.224c-0.256 0.512-0.256 1.024-0.256 1.536 0 3.072 2.432 5.632 5.376 5.632s5.504-2.56 5.504-5.632-2.56-5.504-5.504-5.504z"></path>
    </symbol>
    <symbol id="icon-reviews" viewBox="0 0 32 32">
        <title>reviews</title>
        <path d="M7.36 27.84l1.6-9.6-6.88-6.72 9.6-1.44 4.32-8.48 4.32 8.64 9.6 1.44-7.040 6.72 1.6 9.6-8.48-4.48zM9.6 24.96l6.4-3.52 6.4 3.52-1.12-7.2 5.12-5.12-7.2-1.12-3.2-6.4-3.2 6.4-7.2 1.12 5.12 4.96z"></path>
    </symbol>
    <symbol id="icon-reviews-filled" viewBox="0 0 32 32">
        <title>reviews-filled</title>
        <path d="M16 23.2l-8.48 4.48 1.6-9.6-6.88-6.4 9.6-1.6 4.16-8.48 4.16 8.64 9.6 1.28-6.88 6.72 1.6 9.44z"></path>
    </symbol>
    <symbol id="icon-bin" viewBox="0 0 31 32">
        <title>bin</title>
        <path d="M23.619 11.453h-16v18.286h16v-18.286zM6.095 9.167h19.048v-2.286h-19.048v2.286zM25.905 11.453v19.81c0 0.421-0.341 0.762-0.762 0.762v0h-19.048c-0.421 0-0.762-0.341-0.762-0.762v0-19.81h-0.762c-0.421 0-0.762-0.341-0.762-0.762v0-5.333c0-0.421 0.341-0.762 0.762-0.762v0h3.842l1.378-3.97c0.067-0.358 0.377-0.626 0.75-0.626 0 0 0.001 0 0.001 0h10.156c0 0 0 0 0 0 0.373 0 0.683 0.267 0.749 0.621l0.001 0.005 1.379 3.97h3.841c0.421 0 0.762 0.341 0.762 0.762v0 5.333c0 0.421-0.341 0.762-0.762 0.762v0h-0.762zM10.832 4.596h9.574l-0.802-2.31h-7.97l-0.802 2.31zM19.429 14.501h1.524v12.523h-1.524v-12.523zM14.857 14.501h1.524v12.523h-1.524v-12.523zM10.286 14.501h1.524v12.523h-1.524v-12.523z"></path>
    </symbol>
    <symbol id="icon-cross" viewBox="0 0 13 14">
        <path d="M.334.834A.8.8 0 011.376.757l.09.077 11.2 11.2a.8.8 0 01-1.042 1.21l-.09-.078-11.2-11.2a.8.8 0 010-1.132z"></path>
        <path d="M12.666.834a.8.8 0 00-1.042-.077l-.09.077-11.2 11.2a.8.8 0 001.042 1.21l.09-.078 11.2-11.2a.8.8 0 000-1.132z"></path>
    </symbol>

    <symbol id="icon-add" viewBox="0 0 32 32">
        <path d="M24 15h-7V8h-1v7H9v1h7v7h1v-7h7v-2z"></path>
    </symbol>
    <symbol id="icon-remove" viewBox="0 0 32 32">
        <path d="M8 15h16v1H8z"></path>
    </symbol>
    <symbol id="icon-check" viewBox="0 0 20 20">
        <g fill="none" fill-rule="evenodd">
            <g fill="#188467" fill-rule="nonzero">
                <path d="M570 571c-5.545 0-10 4.455-10 10s4.455 10 10 10 10-4.455 10-10-4.455-10-10-10zm5.773 6.864l-7.273 7.545c-.09.091-.182.136-.318.136-.137 0-.273-.045-.318-.136l-3.546-3.818-.09-.091c-.092-.09-.137-.227-.137-.318s.045-.227.136-.318l.637-.637c.181-.182.454-.182.636 0l.045.046 2.5 2.682c.091.09.228.09.319 0l6.09-6.319h.046c.182-.181.455-.181.636 0l.637.637c.182.136.182.409 0 .59z" transform="translate(-560 -571)"/>
            </g>
        </g>
    </symbol>





    <symbol id="icon-facebook" viewBox="0 0 32 32">
        <title>facebook</title>
        <path d="M17.282 29.831h-5.549v-13.637h-2.773v-4.699h2.773v-2.821c0-3.833 1.565-6.114 6.014-6.114h3.703v4.701h-2.314c-1.732 0-1.846 0.657-1.846 1.882l-0.008 2.352h4.194l-0.491 4.699h-3.703v13.637z"></path>
    </symbol>
    <symbol id="icon-youtube" viewBox="0 0 32 32">
        <title>youtube</title>
        <path d="M13.714 28.952c-7.153 0-12.952-5.799-12.952-12.952s5.799-12.952 12.952-12.952v0c7.153 0 12.952 5.799 12.952 12.952s-5.799 12.952-12.952 12.952v0zM20.724 17.067c0.256-0.126 0.43-0.386 0.43-0.686s-0.173-0.559-0.425-0.684l-0.004-0.002-10.514-5.257c-0.091-0.041-0.196-0.065-0.308-0.065-0.421 0-0.762 0.341-0.762 0.762 0 0.023 0.001 0.045 0.003 0.068l-0-0.003v10.438c0.007 0.415 0.345 0.749 0.762 0.749 0.11 0 0.215-0.023 0.31-0.066l-0.005 0.002z"></path>
    </symbol>
    <symbol id="icon-instagram" viewBox="0 0 32 32">
        <title>instagram</title>
        <path d="M24.492 3.84h-15.705c-2.727 0-4.947 2.219-4.947 4.947v15.705c0 2.729 2.22 4.947 4.947 4.947h15.705c2.727 0 4.947-2.219 4.947-4.947v-15.705c0-2.729-2.22-4.947-4.947-4.947zM25.912 6.792l0.566-0.003v4.339l-4.326 0.014-0.015-4.339zM12.987 14.012c0.819-1.135 2.149-1.878 3.653-1.878s2.834 0.744 3.653 1.878c0.534 0.741 0.853 1.647 0.853 2.628 0 2.484-2.021 4.505-4.506 4.505-2.484 0-4.505-2.021-4.505-4.505 0-0.981 0.319-1.887 0.852-2.628zM26.946 24.492c0 1.353-1.1 2.453-2.453 2.453h-15.705c-1.353 0-2.453-1.1-2.453-2.453v-10.481h3.823c-0.331 0.813-0.516 1.699-0.516 2.628 0 3.859 3.14 7.001 6.999 7.001 3.861 0 7.001-3.141 7.001-7.001 0-0.929-0.188-1.815-0.516-2.628h3.822z"></path>
    </symbol>
    <symbol id="icon-linkedin" viewBox="0 0 32 32">
        <title>linkedin</title>
        <path d="M5.701 12.508h4.491v15.651h-4.491zM7.832 10.55h-0.032c-1.626 0-2.679-1.196-2.679-2.711 0-1.546 1.085-2.719 2.743-2.719 1.657 0 2.675 1.17 2.708 2.714 0 1.515-1.051 2.716-2.739 2.716zM28.16 28.16h-5.092v-8.1c0-2.12-0.797-3.566-2.548-3.566-1.34 0-2.085 0.975-2.432 1.918-0.13 0.336-0.11 0.807-0.11 1.279v8.469h-5.045s0.065-14.348 0-15.652h5.045v2.456c0.298-1.074 1.91-2.607 4.483-2.607 3.192 0 5.699 2.253 5.699 7.099z"></path>
    </symbol>
    <symbol id="icon-pinterest" viewBox="0 0 32 32">
        <title>pinterest</title>
        <path d="M5.12 12.664c0 2.782 1.052 5.257 3.307 6.18 0.37 0.151 0.701 0.005 0.808-0.405 0.075-0.284 0.251-1 0.329-1.298 0.108-0.405 0.067-0.547-0.232-0.901-0.649-0.769-1.065-1.763-1.065-3.173 0-4.087 3.052-7.747 7.95-7.747 4.336 0 6.718 2.654 6.718 6.199 0 4.664-2.061 8.601-5.118 8.601-1.69 0-2.954-1.4-2.548-3.116 0.485-2.049 1.425-4.261 1.425-5.74 0-1.324-0.71-2.428-2.177-2.428-1.726 0-3.114 1.789-3.114 4.186 0 1.528 0.515 2.559 0.515 2.559s-1.767 7.501-2.077 8.815c-0.617 2.616-0.092 5.823-0.048 6.146 0.026 0.192 0.271 0.238 0.383 0.093 0.16-0.209 2.215-2.752 2.916-5.293 0.197-0.72 1.135-4.446 1.135-4.446 0.562 1.072 2.201 2.015 3.944 2.015 5.191 0 8.712-4.74 8.712-11.085 0-4.798-4.056-9.266-10.221-9.266-7.67 0-11.539 5.51-11.539 10.104z"></path>
    </symbol>
    <symbol id="icon-twitter" viewBox="0 0 32 32">
        <title>twitter</title>
        <path d="M26.273 8.763c1.139-0.719 2.013-1.859 2.423-3.217-1.067 0.667-2.245 1.15-3.503 1.411-1.003-1.132-2.438-1.837-4.025-1.837-3.045 0-5.513 2.604-5.513 5.816 0 0.456 0.046 0.9 0.14 1.325-4.582-0.243-8.644-2.556-11.366-6.077-0.475 0.862-0.746 1.86-0.746 2.925 0 2.017 0.973 3.797 2.453 4.842-0.904-0.030-1.754-0.295-2.499-0.727v0.072c0 2.819 1.9 5.17 4.426 5.703-0.464 0.136-0.95 0.205-1.455 0.205-0.355 0-0.702-0.035-1.037-0.103 0.701 2.31 2.737 3.994 5.151 4.039-1.889 1.561-4.266 2.489-6.849 2.489-0.445 0-0.885-0.025-1.316-0.080 2.441 1.649 5.339 2.613 8.454 2.613 10.145 0 15.689-8.863 15.689-16.549 0-0.253-0.003-0.504-0.014-0.752 1.078-0.82 2.015-1.845 2.752-3.012-0.989 0.463-2.053 0.775-3.167 0.915z"></path>
    </symbol>
    <symbol id="icon-vimeo" viewBox="0 0 32 32">
        <title>vimeo</title>
        <path d="M25.358 5.143c2.582 0.068 3.873 1.533 3.886 4.401 0 0.188-0.006 0.384-0.017 0.585-0.114 2.431-1.923 5.742-5.434 9.933-3.621 4.39-6.693 6.588-9.216 6.6-1.569 0-2.872-1.344-3.918-4.033l-1.098-3.686-1.085-3.681c-0.8-2.668-1.655-3.999-2.568-3.999-0.2 0-0.892 0.389-2.081 1.165l-1.267-1.499 1.966-1.633 1.934-1.617c1.732-1.388 3.049-2.138 3.953-2.249 0.12-0.013 0.241-0.017 0.364-0.017 1.855 0 3.013 1.332 3.468 3.999 0.253 1.521 0.463 2.757 0.634 3.707 0.165 0.952 0.303 1.615 0.413 1.993 0.613 2.522 1.274 3.789 1.984 3.799 0.545 0 1.385-0.822 2.519-2.465 1.108-1.688 1.705-2.939 1.782-3.753 0.024-0.165 0.033-0.32 0.033-0.463 0-1.102-0.607-1.651-1.815-1.651-0.613 0-1.267 0.131-1.967 0.383 1.254-3.867 3.666-5.804 7.232-5.816z"></path>
    </symbol>
</svg>
