//
//  Show/Hide password
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .password-wrapper {
        position: relative;

        .show-pass {
            top: @indent__s;
            right: @indent__xs;
            padding: @indent__xs;
            max-height: 30px;
            z-index: 9;
            position: absolute;
            cursor: pointer;

            .icon-hide-pass {
                display: none;
            }

            &.__hide {
                .icon-hide-pass {
                    display: block;
                }

                .icon-show-pass {
                    display: none;
                }
            }

            svg {
                width: 20px;
            }
        }
    }
}
