//
//  Footer Base
//  ---------------------------------------------

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Footer layout
    //  _____________________________________________

    .page-footer {
        .lib-css(background, @footer__background-color);
        padding: @footer__padding;
    }

    .footer.content {
        border-top: 0;
    }

    //
    //  Footer bottom
    //  _____________________________________________

    .footer-bottom {
        .lib-css(border-top, @footer__border);
    }

    .payment-methods {
        &__list {
            .lib-list-reset-styles();
            .lib-vendor-prefix-display();
            .lib-vendor-box-align(center);

            li {
                margin: 0 0 0 @indent__s;
            }
        }
    }

    .copyright {
        .lib-css(background, @copyrights__background-color);
        .lib-css(color, @copyrights__color);
        padding: @copyrights__padding;
        text-align: center;
        width: 100%;
    }

    //
    //  Footer Columns
    //  _____________________________________________

    .footer-column {
        &__title {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            .lib-font-size(@footer-column-title__font-size);
            .lib-css(color, @footer-column-title__color);
            justify-content: space-between;
            text-transform: capitalize;
        }

        &__content {
            .lib-font-size(@footer-content__font-size);
            .lib-css(color, @footer-content__text-color);
        }

        &__links {
            .lib-list-reset-styles();

            a {
                .lib-font-size(@footer-links__font-size);
                .lib-css(color, @footer-links-color);
                .lib-css(text-decoration, @footer-links__text-decoration);
                margin-bottom: @indent__s;
                text-decoration: none;
                display: inline-block;

                &:hover {
                    .lib-css(color, @footer-links__hover__color);
                }

                &:active {
                    .lib-css(color, @footer-links__active__color);
                }
            }
        }
    }

}


//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //
    //  Footer layout
    //  _____________________________________________

    .page-footer {
        padding-bottom: 0;
    }

    //
    //  Footer Columns
    //  _____________________________________________

    .footer.content {
        .lib-vendor-prefix-display(flex);
        justify-content: space-between;
    }

    .footer-column {
        &__title {
            .lib-font-size(@footer-column-title__font-size-desktop);
        }

        &__content {
            margin-bottom: @indent__s;
        }

        &:not(:last-child) {
            padding: @footer-column__padding;
        }
    }

    //
    //  Footer bottom
    //  _____________________________________________

    .footer-bottom {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
        justify-content: space-between;
    }

    .copyright {
        text-align: left;
        width: auto;
    }
}
