//
//  Listings
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Category description
    //  _____________________________________________

    .read-more {
        &__content {
            max-height: 90px;
            overflow: hidden;
        }
    }

    //
    //  Product grid
    //  _____________________________________________

    .product {
        &-items {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-wrap();
            .lib-list-reset-styles();
            margin: 0 -@product-indent__small;
        }

        &-item {
            &:extend(.abs-add-box-sizing all);
            .lib-css(border, 1px solid @product-item__border-color);
            .lib-css(border-radius, @product-item__border-radius);
            width: ~'calc(@{product-layout__2columns} - @{product-indent__small} * 2)';
            margin: @product-indent__small;
            padding: @product-indent__small*2;
        }
    }

    //
    //  Product item
    //  _____________________________________________

    .product-item {
        &-name {
            .lib-font-size(@product-name__font-size);
            margin: @indent__xs 0;
            display: block;

            a {
                .lib-css(font-weight, @product-name__font-weight);
                .lib-css(color, @product-name-link__color);
            }
        }

        &-info {
            position: relative;
        }

        &-actions {
            .actions-secondary {

                > button.action {
                    .lib-button-reset();
                }

                > .action span {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        &-description {
            margin: @indent__m 0;
        }

        .product-reviews-summary {
            .lib-vendor-prefix-display();
            .lib-vendor-box-align(center);

            .rating-summary {
                .lib-vendor-prefix-display();
                margin-right: @indent__xs;
            }
        }

        .price-box {
            margin: @indent__s 0 @indent__m;

            .price {
                .lib-css(font-weight, @font-weight__bold);
                white-space: nowrap;
            }
        }

        .old-price {
            margin: @indent__xs 0;

            .price {
                .lib-css(font-weight, @font-weight__regular);
            }
        }

        .regular-price {
            .price-label {
                .lib-visually-hidden();
            }
        }

        .minimal-price {
            .price-container {
                display: block;
            }
        }

        .minimal-price-link {
            margin-top: @indent__xs;
        }

        .price-from,
        .price-to {
            margin: 0;
        }
    }

    //
    //  Product list
    //  _____________________________________________

    .products-list {
        .product {
            &-item {
                width: 100%;

                &-info {
                    .lib-vendor-prefix-display();
                    width: 100%;
                }
            }
        }
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image {
        &-container {
            display: inline-block;
            max-width: 100%;
        }

        &-wrapper {
            display: block;
            height: 0;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        &-photo {
            bottom: 0;
            display: block;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }
    }

    //
    //  Hover images
    //  -----------------------------------------

    .product-item-photo__hover {
        .product-image-container {
            transition: opacity 0.3s;

            &:not(:first-child) {
                position: absolute;
                max-width: 100%;
                opacity: 0;
                left: 0;
                top: 0;
            }
        }

        &:hover {
            .product-image-container:first-child {
                opacity: 0;
            }
            .product-image-container:not(:last-child) {
                opacity: 1;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

    //
    //  Products grid layout
    //  _____________________________________________

    .products-grid {
        .product-item {
            width: ~'calc(@{product-layout__3columns} - @{product-indent__small} * 2)';
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    //
    //  Product grid
    //  _____________________________________________

    .products-grid {
        .product-items {
            margin: 0 -@product-indent__large;
        }

        .product-item {
            width: ~'calc(@{product-layout__3columns} - @{product-indent__large} * 2)';
            margin: @product-indent__large;
            padding: @indent__xs;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: ~'calc(@{product-layout__4columns} - @{product-indent__large} * 2)';
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: ~'calc(@{product-layout__3columns} - @{product-indent__large} * 2)';
            }
        }
    }
}
