//
//  Product item
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Product page layout
    //  -----------------------------------------

    .catalog-product-view {
        &.page-layout-1column {
            .main {
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-direction(column);
            }

            .product.media {
                .lib-vendor-prefix-order(-1);
            }
        }
    }

    //
    //  Product media
    //  -----------------------------------------

    .product.media {
        margin: @indent__base 0 @indent__xl;
    }

    //
    //  Product info
    //  -----------------------------------------

    .product-info {
        &-price {
            .lib-vendor-prefix-display();
            .lib-vendor-box-align(flex-end);
            justify-content: space-between;
            border-top: 1px solid @border-color__base;
            border-bottom: 1px solid @border-color__base;
            margin: @indent__base 0;
            padding: @indent__s 0;
        }

        &-stock-sku {
            .product.attribute.sku {
                .lib-vendor-prefix-display();

                strong {
                    padding-right: @indent__xs;
                }
            }
        }
    }

    //
    //  Price box
    //  -----------------------------------------

    .product-info-main {
        .price-box {
            .price-container {
                .price {
                    .lib-font-size(@font-size__xl);
                }
            }
        }
    }

    //
    //  Product options wrapper
    //  -----------------------------------------

    .product-options-wrapper {
        .fieldset {
            &:focus {
                box-shadow: none;
            }
        }

        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                            @_font-size: @form-field-label-asterisk__font-size,
                            @_color: @form-field-label-asterisk__color,
                            @_font-family: @form-field-label-asterisk__font-family,
                            @_font-weight: @form-field-label-asterisk__font-weight,
                            @_line-height: @form-field-label-asterisk__line-height,
                            @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }
        .field {
            .note.mage-error {
                color: @error__color;
            }
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Qty controls
    //  -----------------------------------------

    .field.qty {
        .label {
            .lib-visually-hidden();
        }

        .control {
            .lib-vendor-prefix-display();

            .qty-control {
                max-height: 50px;
                padding: 14px;
            }

            .input-text.qty {
                border-top: 1px solid @border-color__base;
                text-align: center;
                max-width: 100px;
                min-width: 50px;
            }
        }
    }

    //
    //  Sticky add to cart button
    //  -----------------------------------------

    .box-tocart {
        &.sticky-addto {
            .lib-css(background, @color-white);
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 3;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //
    //  Product page layout
    //  -----------------------------------------

    .catalog-product-view {
        &.page-layout-1column {
            .main {
                .lib-vendor-prefix-flex-wrap();
                .lib-vendor-prefix-flex-direction(row);
            }

            .product-info-main {
                width: 45%;
            }

            .product.media {
                .lib-vendor-prefix-order(-1);
                width: 55%;
            }
        }
    }

    //
    //  Product media
    //  -----------------------------------------

    .product.media {
        margin: 0 0 @indent__xl;
    }

}
