//
//  Table Comparison
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render 'overflow-x' rule.

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }

    .compare.wrapper {
        .lib-list-reset-styles();

        .counter.qty {
            .lib-css(color, @primary__color__lighter);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
