//
//  Newsletter
//  ---------------------------------------------

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Block Newsletter
    //  ---------------------------------------------

    .newsletter {
        &.wrapper {
            background: #f4f5f7;
        }

        &.block {
            padding: @indent__xl @layout__width-xs-indent;
            margin-bottom: 0;
            box-sizing: border-box;

            .title {
                margin: 0;

                strong {
                    .lib-font-size(@font-size__xxl);
                    .lib-css(font-weight, @font-weight__light);
                }

                p {
                    margin: @indent__s 0 @indent__base;
                }
            }

            .form.subscribe {
                position: relative;
                width: 100%;

                .label {
                    .lib-visually-hidden();
                }

                .actions {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //
    //  Block Newsletter
    //  ---------------------------------------------

    .newsletter {
        &.block {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            justify-content: space-between;
            max-width: @layout__max-width;
            padding: 50px @layout-indent__width;
            box-sizing: border-box;
            margin: 0 auto;
            width: 100%;

            .title {
                margin-right: @indent__xl;
                max-width: 600px;

                strong {
                    .lib-font-size(@font-size__l * 2);
                }

                p {
                    margin: @indent__s 0 0;
                }
            }

            .form.subscribe {
                min-width: 400px;
            }
        }
    }
}
