<?php
/**
 * Elogic Wishlist - List Wishlist link
 * Ajax add/remove functionality
 */

/** @var Magento\Wishlist\Block\Catalog\Product\ProductList\Item\AddTo\Wishlist $block */
/** @var \Elogic\Wishlist\Helper\Helper $helper */
/** @var \Magento\Framework\Escaper $escaper */
?>

<?php if ($block->getWishlistHelper()->isAllow()) : ?>
    <?php $helper = $this->helper('Elogic\Wishlist\Helper\Helper');
    if ($helper && $helper->isAjaxWishlistEnabled()) : ?>
        <div data-bind="scope: 'ajaxWishlist-<?= $block->getProduct()->getId() ?>'">
            <!-- ko ifnot: isInWishlist(currentProductId) -->
            <a class="action towishlist" data-bind="click: ajaxAddToWishlist">
                <svg width="20" height="20" class="icon-wishlist">
                    <use xlink:href="#icon-wishlist"></use>
                </svg>
                <span data-bind="i18n: 'add to wishlist'"></span>
            </a>
            <!-- /ko -->

            <!-- ko if: isInWishlist(currentProductId) -->
            <a class="action remove" data-bind="click: ajaxRemoveFromWishlist">
                <svg width="20" height="20" class="icon-wishlist">
                    <use xlink:href="#icon-wishlist"></use>
                </svg>
                <span data-bind="i18n: 'remove from wishlist'"></span>
            </a>
            <!-- /ko -->
        </div>

        <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "ajaxWishlist-<?= $block->getProduct()->getId() ?>": {
                                "component": "Elogic_Wishlist/js/components/ajax-wishlist",
                                "currentProductId": <?= /* @noEscape */ $block->getProduct()->getId() ?>,
                                "wishlistParams": <?= /* @noEscape */json_encode($block->getWishlistParams()) ?>
                            }
                        }
                    }
                }
            }
        </script>
    <?php else: ?>
        <a href="#"
           class="action towishlist"
           title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>"
           aria-label="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>"
           data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($block->getProduct()) ?>'
           data-action="add-to-wishlist"
           role="button">
            <svg width="20" height="20" class="icon-wishlist">
                <use xlink:href="#icon-wishlist"></use>
            </svg>
            <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
        </a>
    <?php endif; ?>
<?php endif; ?>
