<?php
/**
 * Magento Theme - messages
 * Overridden to add sticky functionality
 */
?>
<div data-bind="scope: 'messages'">
    <div data-bind="attr: {class: 'page messages ' + fixedMessagesClass}, style: style">
        <!-- ko if: cookieMessages && cookieMessages.length > 0 -->
        <div aria-atomic="true" role="alert" data-bind="foreach: {data: cookieMessages, as: 'message'}" class="messages cookie-messages">
            <div data-bind="attr: {class: 'message-' + message.type + ' ' + message.type + ' message'}">
                <div class="message-wrapper">
                    <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
                    <button type="button" class="close" data-bind="click: $parent.closeMessageWrapper">
                        <svg viewBox="0 0 15 15" width="15" height="15" class="icon icon-close">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- /ko -->

        <!-- ko if: messages().messages && messages().messages.length > 0 -->
        <div aria-atomic="true" role="alert" class="messages" data-bind="foreach: {data: messages().messages, as: 'message'}">
            <div data-bind="attr: {class: 'message-' + message.type + ' ' + message.type + ' message'}">
                <div class="message-wrapper">
                    <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
                    <button type="button" class="close" data-bind="click: $parent.closeMessageWrapper">
                        <svg viewBox="0 0 15 15" width="15" height="15" class="icon icon-close">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                        "messages": {
                            "component": "Magento_Theme/js/view/messages",
                            "isHeaderFixed": "true",
                            "stickyHeaderSelector": "has-sticky-header",
                            "headerSelector": ".page-header"
                        }
                    }
                }
            }
    }
</script>
