//
//  Page Messages
//  ---------------------------------------------

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .page.messages {
        .close {
            display: none;
        }

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            margin-top: -1px;
            max-width: none;
            z-index: 10;
            width: 100%;

            .message-wrapper {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                justify-content: space-between;
                padding: @indent__s @layout__width-xs-indent;
                max-width: @layout__max-width;
                margin: 0 auto;
                position: relative;

                & > div {
                    margin-left: @indent__base;
                }
            }

            .close {
                .lib-button-reset();
                display: block;
            }
        }

        .message.success {
            width: 100%;
            padding: 0;
            margin: 0;

            & > *:first-child:before {
                left: 0;
                top: 50%;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page.messages {
        &.fixed {
            .message-wrapper {
                padding: @indent__s @layout-indent__width;
            }
        }
    }
}
