//
//  Social Media
//  ---------------------------------------------


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .social-media {
        .lib-list-reset-styles();
        .lib-vendor-prefix-display(flex);

        li {
            margin: @social-network__margin;

            a {
                .lib-css(color, @social-network-icon__color);
                text-decoration: none;
            }

            svg {
                .lib-css(fill, @social-network-icon__color);
                width: @social-network-icon__width;
                height: @social-network-icon__height;

                &:hover {
                    .lib-css(fill, @social-network-icon__hover__color);
                }

                &:hover {
                    .lib-css(fill, @social-network-icon__active__color);
                }
            }

            span {
                .lib-visually-hidden()
            }
        }
    }

}
