//
//  Store switcher
//  ---------------------------------------------


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .switcher-store {
        .lib-css(background, @footer__background-color);
        .lib-font-size(16);
        margin: 0 -@layout__width-xs-indent;

        .switcher-options {
            display: block;

            ul.dropdown {
                background: none;
                border: 0;
                box-shadow: none;
                margin: 0;
                position: relative;

                &:before,
                &:after {
                    display: none;
                }
            }

            .switcher-trigger,
            .switcher-option {
                .lib-cds(border-top, 1px solid @footer-links-separator-border-color);
                padding: @indent__s @layout-indent__width;
                display: block;
            }

            .switcher-trigger strong {
                padding: @indent__s 0;
            }

            .switcher-option a {
                padding: 0;
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .switcher {
        .options {
            ul.dropdown {
                bottom: -@indent__s;
                left: 100%;
                margin: 0 0 0 @indent__base;
                top: auto;

                &:before,
                &:after {
                    bottom: @indent__base - 7px;
                    left: auto;
                    right: 100%;
                    top: auto;
                }

                &:before {
                    .lib-css(border-color, transparent @dropdown-list__background transparent transparent);
                }

                &:after {
                    .lib-css(border-color, transparent @dropdown-list-pointer__border transparent transparent);
                    margin: 0 0 -1px -1px;
                }
            }
        }
    }
}

