//
//  Switchers
//  ---------------------------------------------

& when (@media-common = true) {

    .switcher {
        .options {
            .lib-dropdown();

            ul.dropdown {
                a {
                    .lib-link();
                    display: block;
                }
            }
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }
    }
}
