//
//  Header Main
//  ---------------------------------------------

& when (@media-common = true) {

    //
    //  Header Panel
    //  _____________________________________________

    .panel {
        &.wrapper {
            background: @color-theme__dark;
            color: @color-white;
            text-align: center;
            padding: @indent__xs;

            p {
                margin: 0;
            }
        }
    }

  //
  //  Header
  //  _____________________________________________

  .header {

    //
    //  Header Content
    //  _____________________________________________

    &.content {
      .lib-vendor-prefix-display();
      .lib-vendor-prefix-flex-wrap(wrap);
      justify-content: space-between;
      padding: @header--mobile__padding;
      background-color: @header__background-color;
        border-bottom: 1px solid @border-color__base;
        position: relative;
    }

    //
    //  Header Columns
    //  _____________________________________________

    &__column {
      .lib-vendor-prefix-flex-grow();
      .lib-vendor-prefix-flex-shrink();
      .lib-vendor-prefix-display();
      .lib-vendor-box-align(center);

        &--secondary {
            margin-left: auto;
        }
    }
  }

  .__with-floating-header-links {
      .header__column--quaternary {
          .lib-css(background, @color-white);
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          justify-content: space-around;
          z-index: 9;
      }
  }

    //
    //  Logo
    //  _____________________________________________

    .logo {
        img {
            height: 25px;
        }
    }

  //
  //  Header Links
  //  _____________________________________________

    .header {
        &.links {
            .lib-list-reset-styles();
            .lib-css(background, @color-white);
            position: absolute;
            z-index: 9;
            display: none;

            .active & {
                .lib-vendor-prefix-display() !important;
                .lib-vendor-prefix-flex-wrap(wrap);
            }

            li {
                width: 100%;
            }

            .greet.welcome {
                .lib-vendor-prefix-order(-1);
            }
        }
    }

    .login-container {
        .lib-dropdown(
            @_toggle-selector: ~'.login-button',
            @_options-selector: ~'.header.links',
            @_dropdown-toggle-icon-content: false,
            @_dropdown-toggle-active-icon-content: false
        );
    }

  .header-link {
      margin: 0 0 0 @indent__s;
      cursor: pointer;

    svg {
        .lib-css(stroke, @primary__color);
        display: block;
        margin: 0 auto;
    }

      a,
      span {
          .lib-visually-hidden()
      }
  }

    //
    //  Header Links Additional
    //  _____________________________________________

    .header-links {
        &--additional {
            .lib-list-reset-styles();
            .lib-vendor-prefix-display(flex);

            li {
                .lib-css(color, @text__color);
                .lib-css(font-weight, @font-weight__semibold);
                margin: 0 @indent__base 0 0;
            }
        }
    }

    //
    //  Sticky Header
    //  _____________________________________________

    .has-sticky-header {
        .page-header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 15;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //
    //  Header Content
    //  _____________________________________________

    .header {
        &.content {
            border-bottom: 0;
        }
    }

    .page-header {
        border-bottom: 1px solid @border-color__base;
    }

    //
    //  Header Columns
    //  _____________________________________________

    .header {
        &__column {
            &--secondary {
                margin-left: 0;
            }
        }
    }


    //
    //  Header Links
    //  _____________________________________________

    .header-link {
        margin-left: @indent__base;

       a,
        span {
            .lib-visually-hidden-reset()
        }

        a {
            .lib-css(color, @primary__color);
            .lib-css(font-weight, @font-weight__bold);
            text-decoration: none;
        }

        span {
            .lib-css(color, @primary__color);
            .lib-css(font-weight, @font-weight__bold);
        }
    }

    //
    //  Logo
    //  _____________________________________________

    .__with-floating-header-links {
        .header__column--quaternary {
            position: relative;
        }
    }
}
