//
//  Magento Catalog - Variables
//  _____________________________________________

//
//  Products
//  _____________________________________________

@product-name-link__color: @primary__color;
@product-name-link__color__active: @primary__color;
@product-name-link__color__hover: @primary__color;
@product-name-link__color__visited: @primary__color;

@product-name__font-size: @font-size__l;
@product-name__font-weight: @font-weight__bold;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: none;
@product-name-link__text-decoration__hover: none;
@product-name-link__text-decoration__visited: none;

@product-item__border-color: @border-color__base;
@product-item__border-radius: 5px;
@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @text__color;

@product-info-price: @text__color;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @text__color;

@product-layout__1column: 100%;
@product-layout__2columns: 50%;
@product-layout__3columns: 33.33333%;
@product-layout__4columns: 25%;
@product-layout__5columns: 20%;

@product-indent__small: @indent__xs;
@product-indent__large: @indent__s;

//
//  Toolbar
//  _____________________________________________

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@toolbar-element__color: @color-gray37;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;
