<?php
/**
 * Magento Catalog - Product item Compare link
 * Overridden to add svg icon
 */

/** @var \Magento\Catalog\Block\Product\View\Addto\Compare $block */
/** @var \Magento\Framework\Escaper $escaper */
?>

<?php $viewModel = $block->getData('addToCompareViewModel'); ?>
<?php if ($viewModel->isAvailableForCompare($block->getProduct())) :?>
<a href="#" data-post='<?= /* @noEscape */ $block->getPostDataParams() ?>'
        data-role="add-to-links"
        class="action tocompare">
    <svg viewBox="0 0 20 25" width="20" height="25" class="icon header-icon header-icon--compare">
        <use xlink:href="#icon-compare"></use>
    </svg>
    <span><?= $escaper->escapeHtml(__('Add to Compare')) ?></span>
</a>
<?php endif; ?>

