<?php
/**
 * Magento CatalogWidget - grid template
 * Overridden to add ajax wishlist buttons and hover images
 */

use Magento\Framework\App\Action\Action;

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
/** @var \Magento\Framework\Escaper $escaper */
/** @var \Elogic\Wishlist\Helper\Helper $helper */

// phpcs:disable Generic.Files.LineLength.TooLong
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundHelper
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $productHoverImage = 'product_hover_image';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;

    $helper = $this->helper('Elogic\Wishlist\Helper\Helper');
    ?>
    <div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()): ?>
            <div class="block-title">
                <strong><?= $escaper->escapeHtml(__($block->getTitle())) ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="product-items <?= /* @noEscape */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?= $escaper->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo <?= $_item->getProductHoverImage() ? 'product-item-photo__hover' : '' ?>">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                                <?php if ($_item->getProductHoverImage()) {
                                    echo $block->getImage($_item, $productHoverImage)->toHtml();
                                } ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $escaper->escapeHtml($_item->getName()) ?>"
                                       href="<?= $escaper->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?= $escaper->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?php if ($templateType): ?>
                                    <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>

                                <?= $block->getProductPriceHtml($_item, $type) ?>

                                <?= $block->getProductDetailsHtml($_item) ?>

                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-inner">
                                        <div class="product-item-actions">
                                            <?php if ($showCart): ?>
                                                <div class="actions-primary">
                                                    <?php if ($_item->isSaleable()): ?>
                                                        <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                        <form data-role="tocart-form" data-product-sku="<?= $escaper->escapeHtml($_item->getSku()) ?>" action="<?= $escaper->escapeUrl($postParams['action']) ?>" method="post">
                                                            <input type="hidden" name="product" value="<?= $escaper->escapeHtmlAttr($postParams['data']['product']) ?>">
                                                            <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                            <?= $block->getBlockHtml('formkey') ?>
                                                            <button type="submit"
                                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                                    class="action tocart primary">
                                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                            </button>
                                                        </form>
                                                    <?php else: ?>
                                                        <?php if ($_item->isAvailable()): ?>
                                                            <div class="stock available"><span><?= $escaper->escapeHtml(__('In stock')) ?></span></div>
                                                        <?php else: ?>
                                                            <div class="stock unavailable"><span><?= $escaper->escapeHtml(__('Out of stock')) ?></span></div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                            <?php if ($showWishlist || $showCompare): ?>
                                                <div class="actions-secondary" data-role="add-to-links">
                                                    <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow() && $showWishlist): ?>
                                                        <?php if ($helper && $helper->isAjaxWishlistEnabled()) : ?>
                                                            <div data-bind="scope: 'ajaxWishlist-<?= $_item->getId() ?>'">
                                                                <!-- ko ifnot: isInWishlist(currentProductId) -->
                                                                <a class="action towishlist" data-bind="click: ajaxAddToWishlist">
                                                                    <svg width="20" height="20" class="icon-wishlist">
                                                                        <use xlink:href="#icon-wishlist"></use>
                                                                    </svg>
                                                                    <span data-bind="i18n: 'add to wishlist'"></span>
                                                                </a>
                                                                <!-- /ko -->

                                                                <!-- ko if: isInWishlist(currentProductId) -->
                                                                <a class="action remove" data-bind="click: ajaxRemoveFromWishlist">
                                                                    <svg width="20" height="20" class="icon-wishlist">
                                                                        <use xlink:href="#icon-wishlist"></use>
                                                                    </svg>
                                                                    <span data-bind="i18n: 'remove from wishlist'"></span>
                                                                </a>
                                                                <!-- /ko -->
                                                            </div>

                                                            <script type="text/x-magento-init">
                                                                {
                                                                    "*": {
                                                                        "Magento_Ui/js/core/app": {
                                                                            "components": {
                                                                                "ajaxWishlist-<?= $_item->getId() ?>": {
                                                                                    "component": "Elogic_Wishlist/js/components/ajax-wishlist",
                                                                                    "currentProductId": <?= /* @noEscape */ $_item->getId() ?>,
                                                                                    "wishlistParams": <?= /* @noEscape */json_encode($block->getWishlistParams()) ?>
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            </script>
                                                        <?php else: ?>
                                                            <a href="#"
                                                               data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>'
                                                               class="action towishlist"
                                                               data-action="add-to-wishlist"
                                                               title="<?= $escaper->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                                <svg width="20" height="20" class="icon-wishlist">
                                                                    <use xlink:href="#icon-wishlist"></use>
                                                                </svg>
                                                                <span><?= $escaper->escapeHtml(__('Add to Wish List')) ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                        <?php $compareHelper = $this->helper(\Magento\Catalog\Helper\Product\Compare::class);?>
                                                        <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                            <span><?= $escaper->escapeHtml(__('Add to Compare')) ?></span>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?= ($iterator == count($items) + 1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
    <?php if($block->getBlockHtml('formkey')): ?>
    <script type="text/x-magento-init">
    {
        ".block.widget [data-role=tocart-form]": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
    </script>
    <?php endif;?>
<?php endif;?>
