//
//  Mini Search
//  _____________________________________________

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Block Search
    //  _____________________________________________

    .block-search {
        margin-bottom: 0;

        .form.minisearch {
            height: 25px;
        }

        .block-title,
        .label span {
            .lib-visually-hidden();
        }

        .block-content {
            margin-bottom: 0;
        }

        .nested {
            display: none;
        }

        .control {
            position: absolute;
            left: -300%;
            top: ~'calc(100% + 1px)';
        }

        .action.search {
            .lib-button-reset();
            right: @layout__width-xs-indent;
            position: absolute;
            top: 12px;

            span {
                .lib-visually-hidden();
            }
        }

        .active {
            .control {
                left: 0;
                width: 100%;
            }
        }
    }

    //
    //  Search autocomplete
    //  _____________________________________________

    .search-autocomplete {
        &:extend(.abs-add-box-sizing all);
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;

        ul {
            .lib-list-reset-styles();

            &:not(:empty) {
                .lib-css(background, @autocomplete__background-color);
                .lib-css(border, @autocomplete__border);
                border-top: 0;
            }

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    //
    //  Advanced Search
    //  _____________________________________________

    .form.search.advanced {
        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }

                &.date {
                    &:extend(.abs-field-date all);
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    //
    //  Search terms and founds
    //  _____________________________________________

    .search-terms {
        &:extend(.abs-reset-list all);
        line-height: 2em;

        > li {
            display: inline-block;
            margin-right: @indent__s;
        }
    }

    .search.found {
        margin-bottom: @indent__s;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //
    //  Block Search
    //  _____________________________________________

    .block-search {
        position: relative;

        .form.minisearch {
            height: auto;
        }

        .label {
            &:extend(.abs-visually-hidden-desktop all);
        }

        .control {
            position: static;
            min-width: 250px;
        }

        .input-text {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            padding-right: 35px;
            padding-left: 0;
        }

        .action.search {
            right: 0;
        }
    }

    //
    //  Search Autocomplete
    //  _____________________________________________

    .search-autocomplete {
        margin-top: 0;
    }

    .form.search.advanced {
        &:extend(.abs-forms-general-desktop all);
    }
}
