//
//  Breadcrumbs
//  ---------------------------------------------

@breadcrumbs__container-margin: 15px 0;
@breadcrumbs-icon__font-size: 24px;
@breadcrumbs-icon__font-margin: 0 @indent__xs;

@breadcrumbs-current__color: @text__color;
@breadcrumbs-link__color: @link__color;
@breadcrumbs-link__visited__color: @breadcrumbs-link__color;
@breadcrumbs-link__hover__color: @breadcrumbs-link__color;
@breadcrumbs-link__active__color: @breadcrumbs-link__color;
