//
//  Buttons
//  ---------------------------------------------

//  Font style
@button__font-family: @font-family__base;
@button__font-size: @font-size__base;
@button__font-weight: @font-weight__light;
@button__line-height: @font-size__base + 2;
@button__margin: 0;
@button__padding: 16px 30px;
@button__width: false;

//  Display settings
@button__border-radius: 0;
@button__disabled__opacity: .5;

//  Default = secondary button
@button__background: @color-white;
@button__border: 1px solid @primary__color;
@button__color: @primary__color;
@button__hover__color: @button__background;
@button__hover__background: @primary__color;
@button__active__background: @primary__color;

//  Primary button
@button-primary__background: @primary__color;
@button-primary__hover__background: @primary-dark__color;
@button-primary__hover__color: @color-white;
@button-primary__active__background: @primary-dark__color;
@button-primary__active__border: 1px solid @link__hover__color;
@button-primary__active__color: @color-white;

//  Button with icon
@button-icon__line-height: @icon-font__line-height;
