//
//  Colors
//  ---------------------------------------------

@base__color: #fafafa;

@primary__color: #30466d;
@primary-dark__color: darken(@primary__color, 10%);

@secondary__color: #ed4f20;
@secondary-dark__color: darken(@secondary__color, 10%);

@color-theme__dark: #424242;
@color-theme__dark-grey: fade(@color-theme__dark, 15%);
@color-theme__medium-grey: #c9c9c9;
@color-theme__light-grey: #eae9e9;
@color-theme__border-grey: #d9d9db;

@active__color: @primary__color;
@error__color: #c20924;
