//
//  Navigation
//  ---------------------------------------------

@navigation-desktop__background: @base__color;
@navigation__background: @base__color;
@navigation-level0-item__active__color: @primary__color;
@_nav-border: 1px solid @border-color__base;
@_nav-level0-item-padding: 0;
@_nav-level0-item-margin: 0 @indent__l 0 0;
@submenu-item__active__color: @navigation-level0-item__active__color;
@_submenu-item__hover__background-color: none;
@_submenu-item-text-decoration: none;

//  Desktop navigation
@navigation-desktop-level0-item__line-height: 47px;
@submenu-desktop__font-weight: @font-weight__regular;
@submenu-desktop-item__active__color: @navigation-level0-item__active__color;

//  Tabs
@tab-control__color: @color-gray43;
@tab-control__font-weight: @font-weight__regular;
@tab-control__height: @indent__base*2;
@tab-control__margin-right: -1px;
@tab-control__padding-top: 1px;
@tab-control__padding-right: 35px;

//  Tabs content
@tab-content__padding-top: 35px;
@tab-content__padding-right: @tab-control__padding-right;


