<?php
/**
 * Magento Customer - Login Popup
 * Adds login link when login popus is disabled
 */

/**
 * @var \Magento\Customer\Block\Account\AuthorizationLink $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>

<?php
    $dataPostParam = '';

    if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
    }
?>

<div class="link login-link header-link" id="<?= $block->isLoggedIn() ?? 'login-button' ?>">
    <svg viewBox="0 0 100 100" width="100" height="100" class="icon header-icon header-icon--account">
        <use xlink:href="#icon-account"></use>
    </svg>
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?>
        <?= /* @noEscape */ $dataPostParam ?>><?= $escaper->escapeHtml($block->getLabel()) ?></a>
</div>
