<?php
/**
 * Magento Customer - Login Popup
 * Adds button trigger to open login popup
 */

/**
 * @var \Magento\Customer\Block\Account\AuthorizationLink $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>

<?php if ($block->isLoggedIn()) : ?>
    <div class="login-button header-link" id="login-button">
        <svg viewBox="0 0 25 25" width="25" height="25" class="icon header-icon header-icon--account">
            <use xlink:href="#icon-account"></use>
        </svg>
        <span><?= $escaper->escapeHtml(__('My Account')) ?></span>
    </div>
<?php else : ?>
    <div class="login-button header-link" id="login-popup-button">
        <svg viewBox="0 0 25 25" width="25" height="25" class="icon header-icon header-icon--account">
            <use xlink:href="#icon-account"></use>
        </svg>
        <span><?= $escaper->escapeHtml(__('Sign In')) ?></span>
    </div>
<?php endif; ?>
