<?php
/**
 * Magento Customer - Login
 * Adds header login wrapper
 */

/**
 * @var \Elogic\Theme\Block\Html\ThemeConfigs $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>

<div class="login-container">
    <?php if ($block->isLoginPopupEnabled()) : ?>
        <?= $block->getChildHtml('login-popup') ?>
    <?php else : ?>
        <?= $block->getChildHtml('login-link') ?>
    <?php endif; ?>

    <?= $block->getChildHtml('top.links') ?>
</div>

<script type="text/javascript">
    require([
            'jquery',
            'dropdownDialog'
        ], function($, dropdownDialog) {
            'use strict';

            $('.header.links').dropdownDialog({
                appendTo: '.login-container',
                triggerTarget: '#login-button',
                parentClass: 'active',
                buttons: false
            });
        }
    );
</script>
