<?php
/**
 * Magento Catalog - Product list Compare link
 * Overridden to add svg icon
 */

/** @var Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare $block */
/** @var \Magento\Framework\Escaper $escaper */
?>
<a href="#"
   class="action tocompare"
   title="<?= $escaper->escapeHtml(__('Add to Compare')) ?>"
   aria-label="<?= $escaper->escapeHtml(__('Add to Compare')) ?>"
   data-post='<?= /* @noEscape */ $block->getCompareHelper()->getPostDataParams($block->getProduct()) ?>'
   role="button">
    <svg viewBox="0 0 20 25" width="20" height="25" class="icon icon-compare">
        <use xlink:href="#icon-compare"></use>
    </svg>
    <span><?= $escaper->escapeHtml(__('Add to Compare')) ?></span>
</a>
