<?php
/**
 * Magento Newsletter
 * Overridden to add escaper, wrapper and description
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
/** @var \Magento\Framework\Escaper $escaper */
?>

<div class="wrapper newsletter">
    <div class="block newsletter">
        <div class="title">
            <strong><?= $escaper->escapeHtml(__('Sign Up Now!')) ?></strong>
            <p><?= $escaper->escapeHtml(__('For exclusive recipes, discounts, opportunities and new product announcements - plus a few surprises.')) ?></p>
        </div>
        <div class="content">
            <form class="form subscribe"
                  novalidate
                  action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                  method="post"
                  data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                  id="newsletter-validate-detail">
                <div class="field newsletter">
                    <div class="control">
                        <label for="newsletter">
                        <span class="label">
                            <?= $escaper->escapeHtml(__('Sign Up for Our Newsletter:')) ?>
                        </span>
                            <input name="email" type="email" id="newsletter"
                                   placeholder="<?= $block->escapeHtml(__('Enter your email address')) ?>"
                                   data-mage-init='{"mage/trim-input":{}}'
                                   data-validate="{required:true, 'validate-email':true}"
                            />
                        </label>
                    </div>
                </div>
                <div class="actions">
                    <button class="action subscribe primary"
                            title="<?= $escaper->escapeHtmlAttr(__('Subscribe')) ?>"
                            type="submit"
                            aria-label="Subscribe">
                        <span><?= $escaper->escapeHtml(__('Subscribe')) ?></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "newsletter-validate-detail"
            }
        }
    }
</script>
